<div class="sidebar">
    <div class="sidebar__primary">
        <div class="sidebar__primary--logo">
        </div>
        <!-- <div class="sidebar__divider"></div> -->
        <div class="sidebar__primary--menu">
            <div class="menu">
                <div class="menu__title">
                    <div class="menu__title--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M12 21a9 9 0 0 0 9-9H3a9 9 0 0 0 9 9Z" />
                            <path d="M7 21h10" />
                            <path d="M19.5 12 22 6" />
                            <path d="M16.25 3c.27.1.8.53.75 1.36-.06.83-.93 1.2-1 2.02-.05.78.34 1.24.73 1.62" />
                            <path d="M11.25 3c.27.1.8.53.74 1.36-.05.83-.93 1.2-.98 2.02-.06.78.33 1.24.72 1.62" />
                            <path d="M6.25 3c.27.1.8.53.75 1.36-.06.83-.93 1.2-1 2.02-.05.78.34 1.24.74 1.62" />
                        </svg>
                    </div>
                    <span class="menu__title--text">Food List</span>
                </div>
                <div class="menu__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </div>
            </div>
            <div class="menu">
                <div class="menu__title">
                    <div class="menu__title--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8" />
                            <path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7" />
                            <path d="m2.1 21.8 6.4-6.3" />
                            <path d="m19 5-7 7" />
                        </svg>
                    </div>
                    <span class="menu__title--text">Subscription</span>
                </div>
            </div>
        </div>
        <div class="sidebar__divider"></div>
        <div class="sidebar__primary--menu">
            <div class="menu selected">
                <div class="menu__title">
                    <div class="menu__title--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="7" height="9" x="3" y="3" rx="1" />
                            <rect width="7" height="5" x="14" y="3" rx="1" />
                            <rect width="7" height="9" x="14" y="12" rx="1" />
                            <rect width="7" height="5" x="3" y="16" rx="1" />
                        </svg>
                    </div>
                    <span class="menu__title--text">Dashboard</span>
                </div>
                <div class="menu__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </div>
            </div>
            <div class="menu">
                <div class="menu__title">
                    <div class="menu__title--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8" />
                            <path d="M3 3v5h5" />
                            <path d="M12 7v5l4 2" />
                        </svg>
                    </div>
                    <span class="menu__title--text">Order History</span>
                </div>
            </div>
            <div class="menu">
                <div class="menu__title">
                    <div class="menu__title--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1" />
                            <path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4" />
                        </svg>
                    </div>
                    <span class="menu__title--text">Payment</span>
                </div>
                <div class="menu__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="sidebar__divider"></div>
    </div>
    <div class="sidebar__secondary">
        <div class="sidebar__secondary--menu">
            <div class="menu">
                <div class="menu__title">
                    <div class="menu__title--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10.268 21a2 2 0 0 0 3.464 0" />
                            <path
                                d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326" />
                        </svg>
                    </div>
                    <span class="menu__title--text">Notifications</span>
                    <div class="menu__title--badge">
                        <span class="menu__title--badge--text">2</span>
                    </div>
                </div>
                <div class="menu__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="sidebar__divider"></div>
        <div class="sidebar__secondary--interactive">
            <div class="sidebar__secondary--theme">
                <div class="theme">
                    <span class="theme__text">Theme</span>
                    <div class="theme__wrapper">
                        <div class="theme__wrapper--options">
                            <div class="option" [ngClass]="{'selected': !isDarkMode()}" (click)="enableLightMode()">
                                <div class="option--icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="4" />
                                        <path d="M12 3v1" />
                                        <path d="M12 20v1" />
                                        <path d="M3 12h1" />
                                        <path d="M20 12h1" />
                                        <path d="m18.364 5.636-.707.707" />
                                        <path d="m6.343 17.657-.707.707" />
                                        <path d="m5.636 5.636.707.707" />
                                        <path d="m17.657 17.657.707.707" />
                                    </svg>
                                </div>
                                <span class="option--text">Light</span>
                            </div>
                            <div class="option" [ngClass]="{'selected': isDarkMode()}" (click)="enableDarkMode()">
                                <div class="option--icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path
                                            d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401" />
                                    </svg>
                                </div>
                                <span class="option--text">Dark</span>
                            </div>
                        </div>
                        <!-- <button class="button button-redTint__xsmall">Logout</button> -->
                    </div>
                </div>
            </div>
            <div class="sidebar__secondary--profile">
                <div class="profile">
                    <div class="profile__avatar">
                        <span class="profile__avatar--text">JD</span>
                        <!-- <img src="https://avatars.githubusercontent.com/u/105328?v=4" alt="Profile Avatar"> -->
                    </div>
                    <div class="profile__info">
                        <span class="profile__info--text">John Doe</span>
                        <span class="profile__info--subtext">johndoe@example.com</span>
                    </div>
                </div>
                <div class="action">
                    <div class="action__button">
                        <div class="action__button--icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="m16 17 5-5-5-5" />
                                <path d="M21 12H9" />
                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="sidebar__divider"></div> -->
        <div class="sidebar__secondary--link">
            <div class="link">
                <span class="link__text">About</span>
            </div>
            <div class="link">
                <span class="link__text">Terms and Conditions</span>
            </div>
            <div class="link">
                <span class="link__text">Help & Support</span>
            </div>
        </div>
    </div>
</div>