@use "../../../../assets/scss/mixins" as *;

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-gap-sm);
    height: 100%;
    background-color: var(--surface-primary);

    &__divider {
        border-top: 1px solid var(--stroke-inverse-10);
    }

    &__primary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: stretch;
        gap: var(--gap-gap-lg);

        &--menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--gap-gap-sm);
            padding: 0 var(--padding-padding-lg);

            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px var(--padding-padding-md);
                color: var(--text-primary);
                border-radius: var(--border-radius-radius-md);
                cursor: pointer;

                &:hover {
                    background-color: var(--surface-primary-dark);
                }

                &.selected {
                    color: var(--text-accent);
                    background-color: var(--surface-accent-10);
                }

                &__title {
                    flex: 1 0 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: var(--gap-gap-md);

                    &--icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;
                        aspect-ratio: 1/1;
                    }

                    &--text {
                        color: inherit;
                        @include body-3-bold;
                    }
                }

                &__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

    &__secondary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: stretch;
        gap: var(--gap-gap-sm);

        &--menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--gap-gap-sm);
            padding: 0 var(--padding-padding-lg);

            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px var(--padding-padding-md);
                color: var(--text-primary);
                border-radius: var(--border-radius-radius-md);
                cursor: pointer;

                &:hover {
                    background-color: var(--surface-primary-dark);
                }

                &.selected {
                    color: var(--text-accent);
                    background-color: var(--surface-accent-10);
                }

                &__title {
                    flex: 1 0 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: var(--gap-gap-md);

                    &--icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;
                        aspect-ratio: 1/1;
                    }

                    &--text {
                        color: inherit;
                        @include body-3-bold;
                    }

                    &--badge {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        padding: 2px var(--padding-padding-sm);
                        border-radius: var(--border-radius-radius-sm);
                        background-color: var(--surface-accent-secondary-10);

                        &--text {
                            color: var(--text-accent-secondary);
                            @include label-2-demibold;
                        }
                    }
                }

                &__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    aspect-ratio: 1/1;
                }
            }
        }

        &--interactive {
            display: flex;
            flex-direction: column;
            gap: var(--gap-gap-sm);
            padding: 0 var(--padding-padding-lg);
        }

        &--theme {
            display: flex;
            flex-direction: column;

            .theme {
                display: flex;
                flex-direction: column;
                gap: var(--gap-gap-sm);

                &__text {
                    color: var(--text-primary-lightest);
                    @include label-2-medium;
                }

                &__wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    // gap: var(--gap-gap-sm);
                    &--options {
                        // flex: 1 0 0;
                        display: flex;
                        gap: var(--gap-gap-sm);
                        padding: var(--padding-padding-sm);
                        border-radius: var(--border-radius-radius-md);
                        background-color: var(--surface-primary-light);

                        .option {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: var(--gap-gap-sm);
                            padding: var(--padding-padding-sm) var(--padding-padding-lg);
                            color: var(--text-primary);
                            border-radius: var(--border-radius-radius-md);
                            background-color: var(--surface-primary);
                            cursor: pointer;

                            &:hover {
                                background-color: var(--surface-primary-dark);
                            }

                            &.selected {
                                color: var(--text-accent);
                                background-color: var(--surface-accent-10);
                            }

                            &--icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 16px;
                                height: 16px;
                                aspect-ratio: 1/1;
                            }

                            &--text {
                                @include label-3-demibold;
                            }
                        }
                    }
                }
            }
        }

        &--profile {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: var(--gap-gap-sm);

            // border-top: 1px solid var(--surface-inverse-10);
            .profile {
                flex: 1 0 0;
                display: flex;
                align-items: center;
                gap: var(--gap-gap-md);
                padding: var(--padding-padding-sm);
                border-radius: var(--border-radius-radius-md);
                cursor: pointer;

                &:hover {
                    background-color: var(--surface-primary-dark);
                }

                &__avatar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: var(--surface-accent-secondary-10);

                    &--text {
                        color: var(--text-primary);
                        @include body-2-medium;
                    }
                }

                &__info {
                    display: flex;
                    flex-direction: column;

                    &--text {
                        color: var(--text-primary);
                        @include body-2-bold;
                    }

                    &--subtext {
                        color: var(--text-primary-lighter);
                        @include label-2-medium;
                    }
                }
            }

            .action {
                display: flex;
                justify-content: center;
                align-items: center;

                &__button {
                    padding: var(--padding-padding-sm);
                    color: var(--text-primary);
                    border-radius: var(--border-radius-radius-md);
                    background-color: var(--surface-primary);
                    cursor: pointer;

                    &:hover {
                        color: var(--text-error);
                        background-color: var(--surface-error-10);
                    }

                    &--icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }

        &--link {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            column-gap: var(--gap-gap-sm);
            padding: 0 var(--padding-padding-lg) var(--padding-padding-lg);

            .link {
                &__text {
                    color: var(--text-primary-lightest);
                    @include label-2-medium;
                }
            }
        }
    }
}