.test {
    display: flex;
    flex-direction: column;
    gap: var(--gap-gap-lg);
    padding: var(--padding-padding-lg);

    &__row {
        display: flex;
        gap: var(--gap-gap-lg);
    }

    &__rows {
        display: flex;
        flex-direction: column;
        gap: var(--gap-gap-lg);
    }
}