@use "spacing" as *;
@use "typography" as *;
@use "mixins" as *;
@use "colors" as *;
@use "variables" as *;
// Sizing Scale
$sizing-map: (
  0: 0,
  xxs: $sizing-2,
  xs: $sizing-4,
  s: $sizing-8,
  m: $sizing-12,
  l: $sizing-16,
  xl: $sizing-20,
  xxl: $sizing-24,
  xxxl: $sizing-28,
  4xl: $sizing-32,
  5xl: $sizing-36,
  6xl: $sizing-40,
  7xl: $sizing-44,
  8xl: $sizing-48,
  9xl: $sizing-52,
  10xl: $sizing-56,
);
// Generate Padding Utilities
@each $size, $value in $sizing-map {
  .p-#{$size} {
    padding: $value !important;
  }
  .pt-#{$size} {
    // @include padding(padding-top, $value);
    padding-top: $value !important;
  }
  .pb-#{$size} {
    // @include padding(padding-bottom, $value);
    padding-bottom: $value !important;
  }
  .pl-#{$size} {
    // @include padding(padding-left, $value);
    padding-left: $value !important;
  }
  .pr-#{$size} {
    // @include padding(padding-right, $value);
    padding-right: $value !important;
  }
  .px-#{$size} {
    // @include padding(padding-left, $value);
    // @include padding(padding-right, $value);
    padding-left: $value !important;
    padding-right: $value !important;
  }
  .py-#{$size} {
    // @include padding(padding-top, $value);
    // @include padding(padding-bottom, $value);
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

// Generate Margin Utilities
@each $size, $value in $sizing-map {
  .m-#{$size} {
    // @include margin(margin, $value);
    margin: $value !important;
  }
  .mt-#{$size} {
    // @include margin(margin-top, $value);
    margin-top: $value !important;
  }
  .mb-#{$size} {
    // @include margin(margin-bottom, $value);
    margin-bottom: $value !important;
  }
  .ml-#{$size} {
    // @include margin(margin-left, $value);
    margin-left: $value !important;
  }
  .mr-#{$size} {
    // @include margin(margin-right, $value);
    margin-right: $value !important;
  }
  .mx-#{$size} {
    // @include margin(margin-left, $value);
    // @include margin(margin-right, $value);
    margin-left: $value !important;
    margin-right: $value !important;
  }
  .my-#{$size} {
    // @include margin(margin-top, $value);
    // @include margin(margin-bottom, $value);
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

@each $size, $value in $sizing-map {
  .h-#{$size} {
    height: $value !important;
  }
}
//Border Radius Utilities
@each $size, $value in $sizing-map {
  .circle-#{$size} {
    border-radius: $value !important;
  }
}

.circle-full {
  border-radius: 50% !important;
}

.gap-m {
  gap: $sizing-12 !important;
}
.col-gap-m {
  column-gap: $sizing-12 !important;
}

/*
* Start: Display Class
*/

// * Display Bold: 700
.display-1-bold {
  @include display-1-bold;
}
.display-2-bold {
  @include display-2-bold;
}
.display-3-bold {
  @include display-3-bold;
}

// * Display Demibold: 600
.display-1-demibold {
  @include display-1-demibold;
}
.display-2-demibold {
  @include display-2-demibold;
}
.display-3-demibold {
  @include display-3-demibold;
}

// * Display Medium: 500
.display-1-medium {
  @include display-1-medium;
}
.display-2-medium {
  @include display-2-medium;
}
.display-3-medium {
  @include display-3-medium;
}

// * Display Regular: 400
.display-1-regular {
  @include display-1-regular;
}
.display-2-regular {
  @include display-2-regular;
}
.display-3-regular {
  @include display-3-regular;
}

/*
* Start: Headline Class
*/

// * Headline Bold: 700
.headline-1-bold {
  @include headline-1-bold;
}
.headline-2-bold {
  @include headline-2-bold;
}
.headline-3-bold {
  @include headline-3-bold;
}

// * Headline Demibold: 600
.headline-1-demibold {
  @include headline-1-demibold;
}
.headline-2-demibold {
  @include headline-2-demibold;
}
.headline-3-demibold {
  @include headline-3-demibold;
}

// * Headline Medium: 500
.headline-1-medium {
  @include headline-1-medium;
}
.headline-2-medium {
  @include headline-2-medium;
}
.headline-3-medium {
  @include headline-3-medium;
}

// * Headline Regular: 400
.headline-1-regular {
  @include headline-1-regular;
}
.headline-2-regular {
  @include headline-2-regular;
}
.headline-3-regular {
  @include headline-3-regular;
}

/*
* Start: Title Class
*/

// * Title Bold: 700
.title-1-bold {
  @include title-1-bold;
}
.title-2-bold {
  @include title-2-bold;
}
.title-3-bold {
  @include title-3-bold;
}

// * Title Demibold: 600
.title-1-demibold {
  @include title-1-demibold;
}
.title-2-demibold {
  @include title-2-demibold;
}
.title-3-demibold {
  @include title-3-demibold;
}

// * Title Medium: 500
.title-1-medium {
  @include title-1-medium;
}
.title-2-medium {
  @include title-2-medium;
}
.title-3-medium {
  @include title-3-medium;
}

// * Title Regular: 400
.title-1-regular {
  @include title-1-regular;
}
.title-2-regular {
  @include title-2-regular;
}
.title-3-regular {
  @include title-3-regular;
}

/*
* Start: Body Class
*/

// * Body Bold: 700
.body-1-bold {
  @include body-1-bold;
}
.body-2-bold {
  @include body-2-bold;
}
.body-3-bold {
  @include body-3-bold;
}

// * Body Demibold: 600
.body-1-demibold {
  @include body-1-demibold;
}
.body-2-demibold {
  @include body-2-demibold;
}
.body-3-demibold {
  @include body-3-demibold;
}

// * Body Medium: 500
.body-1-medium {
  @include body-1-medium;
}
.body-2-medium {
  @include body-2-medium;
}
.body-3-medium {
  @include body-3-medium;
}

// * Body Regular: 400
.body-1-regular {
  @include body-1-regular;
}
.body-2-regular {
  @include body-2-regular;
}
.body-3-regular {
  @include body-3-regular;
}

/*
* Start: Label Class
*/

// * Label Bold: 700
.label-1-bold {
  @include label-1-bold;
}
.label-2-bold {
  @include label-2-bold;
}
.label-3-bold {
  @include label-3-bold;
}

// * Label Demibold: 600
.label-1-demibold {
  @include label-1-demibold;
}
.label-2-demibold {
  @include label-2-demibold;
}
.label-3-demibold {
  @include label-3-demibold;
}

// * Label Medium: 500
.label-1-medium {
  @include label-1-medium;
}
.label-2-medium {
  @include label-2-medium;
}
.label-3-medium {
  @include label-3-medium;
}

// Input Field
// Input type checkbox
.checkbox-input__small {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: $sizing-20;
  height: $sizing-20;
  border: 0.0625rem solid $neutral-300;
  border-radius: $sizing-4;
  background-color: $white-default;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  &:hover {
    border-width: 1.5px;
    border-color: $green-default-light;
    background-color: $green-100-light;
  }
  &:checked {
    border-color: $green-600-light;
    background-color: $green-default-light;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      // background-image: url("../../images/res-sync/icons/checkmark-rounded.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}

.w-16rem {
  max-width: 16rem;
  width: 100%;
}
.w-70p {
  width: 70%;
}
.w-30p {
  width: 30%;
}
.w-80p {
  width: 80%;
}
.w-20p {
  width: 20%;
}
.divider {
  height: 0.0625rem;
  width: 100%;
  background-color: $neutral-300;
}

// Text utilities
.primary-text {
  color: $neutral-800 !important;
}
.green-primary {
  color: $green-default-light !important;
  opacity: 1 !important;
}
.gray-text {
  color: $neutral-300 !important;
}
.white-text {
  color: $white-default;
}
.blue-text {
  color: $blue-default-light !important;
}

.ride-status {
  padding: $sizing-2 $sizing-8;
  min-height: 2rem;
  border-radius: $sizing-12;
  display: inline-flex !important;
  align-items: center;
  vertical-align: middle;
  &__mobile {
    .ride-status {
      background-color: transparent;
    }
    @include media-down(md) {
      padding-top: 0.5rem;
      padding-left: 0.81rem;
      padding-bottom: 1.56rem;
      padding-right: 1.69rem;
      // background-color: red;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      margin-bottom: -1.5rem;
      display: flex !important;
      justify-content: space-between;
      flex-direction: row !important;
    }
    &__quote {
      background-color: rgba($color: $blue-100-light, $alpha: 0.4);
      color: $blue-600-light;
    }
    &__pending {
      background-color: rgba($color: $orange-100-light, $alpha: 0.3);
      color: $orange-default-light;
      // flex-direction: row-reverse;
      // span {
      //   margin-left: $sizing-4;
      // }
    }
    &__confirmed {
      background-color: rgba($color: $green-100-light, $alpha: 0.5);
      color: $green-600-light;
      flex-direction: row-reverse;
      span {
        // margin-left: $sizing-4;
      }
    }
    &__driver {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
    }
    &__drAssigned {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
    }
    &__enroute {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
    }
    &__onboard {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
    }
    &__completed {
      background-color: $neutral-800;
      color: $white-default;
    }
    &__cancelled {
      background-color: rgba($color: $red-100-light, $alpha: 0.5);
      color: $red-700-light;
    }
    &__no {
      background-color: rgba($color: $red-100-light, $alpha: 0.5);
      color: $red-700-light;
    }
    &__on {
      background-color: rgba($color: $red-default-light, $alpha: 0.5);
      color: $red-700-light;
    }
    &__onsite {
      background-color: rgba($color: $green-100-light, $alpha: 0.5);
      color: $neutral-800;
    }
    &__circling {
      background-color: rgba($color: $green-100-light, $alpha: 0.5);
      color: $neutral-800;
    }
    &__changed {
      background-color: rgba($color: $orange-100-light, $alpha: 0.3);
      color: $orange-default-light;
    }
    &__change {
      background-color: rgba($color: $orange-100-light, $alpha: 0.3);
      color: $orange-default-light;
    }
  }
  &__quote {
    background-color: rgba($color: $blue-100-light, $alpha: 0.4);
    color: $blue-600-light;
  }
  &__pending {
    background-color: rgba($color: $orange-100-light, $alpha: 0.3);
    color: $orange-default-light;
    flex-direction: row-reverse;
    span {
      // margin-left: $sizing-4;
      @include media-down(md) {
        color: $orange-700-light;
      }
    }
  }
  &__confirmed {
    background-color: rgba($color: $green-100-light, $alpha: 0.5);
    color: $green-600-light;
    flex-direction: row-reverse;
    span {
      // margin-left: $sizing-4;
    }
  }
  &__drAssigned {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
    label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      max-width: 115px;
    }
  }
  &__enroute {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
  }
  &__onboard {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
  }
  &__completed {
    background-color: $neutral-800;
    color: $white-default;
  }
  &__cancelled {
    background-color: rgba($color: $red-100-light, $alpha: 0.5);
    color: $red-700-light;
    flex-direction: row-reverse;
    label {
      vertical-align: middle;
    }
    span {
      // margin-left: $sizing-4;
    }
  }
  &__noshow {
    background-color: rgba($color: $red-100-light, $alpha: 0.5);
    color: $red-700-light;
  }
  &__onsite {
    background-color: rgba($color: $green-100-light, $alpha: 0.5);
    color: $neutral-800;
  }
  &__circling {
    background-color: rgba($color: $green-100-light, $alpha: 0.5);
    color: $neutral-800;
  }
  &__changed,
  &__change {
    background-color: rgba($color: $orange-100-light, $alpha: 0.3);
    color: $orange-default-light;
    flex-direction: row-reverse;
    span {
      // margin-left: $sizing-4;
      color: $orange-700-light;
    }
  }
}
.status {
  padding: $sizing-2 $sizing-8;
  min-height: 2rem;
  border-radius: $sizing-12;
  display: inline-flex !important;
  align-items: center;
  vertical-align: middle;
  &__mobile {
    @include media-down(md) {
      padding-top: 0.5rem;
      padding-left: 0.81rem;
      padding-bottom: 1.56rem;
      padding-right: 1.69rem;
      // background-color: red;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      margin-bottom: -1.5rem;
      display: flex !important;
      justify-content: space-between;
      flex-direction: row !important;
    }
    &__quote {
      background-color: rgba($color: $blue-100-light, $alpha: 0.4);
      color: $blue-600-light;
    }
    &__pending {
      background-color: rgba($color: $orange-100-light, $alpha: 0.3);
      color: $orange-default-light;
      // flex-direction: row-reverse;
      // span {
      //   margin-left: $sizing-4;
      // }
    }
    &__confirmed {
      background-color: rgba($color: $green-100-light, $alpha: 0.5);
      color: $green-600-light;
      flex-direction: row-reverse;
      span {
        // margin-left: $sizing-4;
      }
    }
    &__drAssigned {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
      color: $neutral-800;
    }
    &__enroute {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
    }
    &__onboard {
      background-color: rgba($color: $neutral-200, $alpha: 0.3);
      color: $neutral-800;
    }
    &__completed {
      background-color: $neutral-800;
      color: $white-default;
    }
    &__cancelled {
      background-color: rgba($color: $red-100-light, $alpha: 0.5);
      color: $red-700-light;
    }
    &__noshow {
      background-color: rgba($color: $red-100-light, $alpha: 0.5);
      color: $red-700-light;
    }
    &__onsite {
      background-color: rgba($color: $green-100-light, $alpha: 0.5);
      color: $neutral-800;
    }
    &__circling {
      background-color: rgba($color: $green-100-light, $alpha: 0.5);
      color: $neutral-800;
    }
    &__changed {
      background-color: rgba($color: $orange-100-light, $alpha: 0.3);
      color: $orange-default-light;
    }
  }
  &__quote {
    background-color: rgba($color: $blue-100-light, $alpha: 1);
    color: $blue-600-light;
  }
  &__pending {
    background-color: rgba($color: $orange-100-light, $alpha: 0.3);
    color: $orange-default-light;
    // flex-direction: row-reverse;
    // span {
    //   margin-left: $sizing-4;
    // }
  }
  &__confirmed {
    background-color: rgba($color: $green-100-light, $alpha: 0.5);
    color: $green-600-light;
    // flex-direction: row-reverse;
    span {
      // margin-left: $sizing-4;
    }
  }
  &__driver {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
  }
  &__drAssigned {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
  }
  &__enroute {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
  }
  &__onboard {
    background-color: rgba($color: $neutral-200, $alpha: 0.3);
    color: $neutral-800;
  }
  &__completed {
    background-color: $neutral-800;
    color: $white-default;
  }
  &__cancelled {
    background-color: rgba($color: $red-100-light, $alpha: 0.7);
    color: $red-700-light;
  }
  &__noshow {
    background-color: rgba($color: $red-100-light, $alpha: 0.5);
    color: $red-700-light;
  }
  &__onsite {
    background-color: rgba($color: $green-100-light, $alpha: 0.5);
    color: $neutral-800;
  }
  &__circling {
    background-color: rgba($color: $green-100-light, $alpha: 0.5);
    color: $neutral-800;
  }
  &__changed {
    background-color: rgba($color: $orange-100-light, $alpha: 0.3);
    color: $orange-default-light;
  }
  &__change {
    background-color: rgba($color: $orange-100-light, $alpha: 0.3);
    color: $orange-default-light;
  }
}

// Ride Type badge
%rideTypeLabel {
  min-height: 2rem;
  padding: $sizing-2 $sizing-8;
  display: inline-flex !important;
  align-items: center;
}
.ride-type {
  &__arrival {
    @extend %rideTypeLabel;
    border: 0.0625rem solid rgba($color: $green-default-light, $alpha: 0.3);
  }
  &__departure {
    @extend %rideTypeLabel;
    border: 0.0625rem solid rgba($color: $blue-default-light, $alpha: 0.3);
  }
  &__transfer {
    @extend %rideTypeLabel;
    border: 0.0625rem solid rgba($color: $orange-default-light, $alpha: 0.3);
  }
  &__shuttle {
    @extend %rideTypeLabel;
    border: 0.0625rem solid $blue-sky-light;
  }
  &__hourly {
    @extend %rideTypeLabel;
    border: 0.0625rem solid $blue-300-light;
  }
  &__return {
    @extend %rideTypeLabel;
    border: 0.0625rem solid rgba($color: $red-default-light, $alpha: 0.3);
  }
  &__roundtrip {
    @extend %rideTypeLabel;
    border: 0.0625rem solid rgba($color: $red-default-light, $alpha: 0.3);
    img {
      object-fit: contain;
    }
  }
  &__flight {
    border: 0.0625rem solid rgba($color: $neutral-800, $alpha: 0.3);
    display: inline-flex !important;
    align-items: center;
    border-radius: 0.5rem;
    @include media-down(md) {
      border-radius: 0.5rem;
    }
    svg {
      margin-top: -0.125rem;
    }
  }
}

// Buttons
// Button
// .button-large {
//   display: flex;
//   height: 3.625rem;
//   padding: $sizing-12 $sizing-24;
//   justify-content: center;
//   align-items: center;
//   gap: 0.5rem;
//   &__primary {
//     background-color: $blue-default-light;
//     color: $white-default;
//     @include elevation-4-blue;
//   }
// }
.button {
  &-large {
    border-radius: 0.5rem;
    border: 0;
    padding: $sizing-8 $sizing-24;
    display: block;
    height: 3.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.3s ease-in-out;
    @include body-1-medium;
    @include media-between(md, lg) {
      @include body-3-medium;
    }
    &:disabled {
      background-color: $neutral-100 !important;
      color: $neutral-200 !important;
      pointer-events: none;
      box-shadow: none;
    }
  }
  &-gray {
    background-color: $neutral-100;
    color: $neutral-800;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $neutral-200;
      @include elevation-4;
      color: $neutral-800;
    }
  }
  &-blue {
    background-color: $blue-default-light;
    color: $white-default;
    @include elevation-4-blue;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $blue-600-light;
    }
  }
  &-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6.25rem;
    padding: 0.75rem 1.25rem;
    column-gap: 0.625rem;
    border-radius: 1.5rem;
    @include body-3-medium;
    color: $neutral-050;
    box-shadow: none;
    @include media-down(md) {
      padding: 0.5rem 0.25rem;
      @include label-2-medium;
    }
    &:hover {
      color: $neutral-050;
    }
  }
}

.hourly {
  &-badge {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    &__icon {
      display: inline-block;
      vertical-align: text-bottom;
    }
    &__style {
      @include headline-3-medium;
      margin-left: 2px;
      color: $neutral-800;
      @include media-down(md) {
        @include body-2-medium;
      }
      &--text2 {
        @include headline-3-medium;
        color: $neutral-500;
        @include media-down(md) {
          @include body-2-medium;
        }
      }
    }
  }
}

.deadline {
  &-red {
    color: $red-default-light;
  }
  &-orange {
    color: $orange-default-light;
  }
}

.deadline {
  &-red {
    color: #fe6a6a;
  }
  &-orange {
    color: #fcaa45;
  }
}

.due-deposit-pending {
  background-color: rgba($color: $orange-100-light, $alpha: 0.3);
  color: $orange-700-light;
  justify-content: flex-start !important;
  align-items: center !important;
}
