/* Primitive Values - Colors */
$green-100-light: #d7eee2;
$green-200-light: #afdcc5;
$green-300-light: #87cba8;
$green-400-light: #5fb98b;
$green-default-light: #37a86e;
$green-600-light: #2c8658;
$green-700-light: #216542;
$green-800-light: #16432c;
$green-900-light: #0b2216;

$green-100-dark: #d6f1e3;
$green-200-dark: #ade3c7;
$green-300-dark: #85d4ac;
$green-400-dark: #5cc690;
$green-default-dark: #33b874;
$green-600-dark: #29935d;
$green-700-dark: #1f6e46;
$green-800-dark: #144a2e;
$green-900-dark: #0a2517;

$blue-100-light: #d3e1f8;
$blue-200-light: #a6c8f1;
$blue-300-light: #7aa5e9;
$blue-400-light: #4d87e2;
$blue-default-light: #2169db;
$blue-600-light: #1a54af;
$blue-700-light: #143f83;
$blue-800-light: #0d2a58;
$blue-900-light: #07152c;
$blue-1000-light: #317aed;
$blue-1100-light: #e9f1ff;
$blue-sky-light: #c4f5ff;

$blue-100-dark: #d3e4fe;
$blue-200-dark: #a8c9fd;
$blue-300-dark: #7cadfb;
$blue-400-dark: #5192fa;
$blue-default-dark: #2577f9;
$blue-600-dark: #1e5fc7;
$blue-700-dark: #164795;
$blue-800-dark: #0f3064;
$blue-900-dark: #071832;
$alice-blue: #f9fafb;

$neutral-050: #f3f3f3;
$neutral-055: #b0b0b0;
$neutral-075: #f5f5f5;
$neutral-080: #f6f6f6;
$neutral-100: #e6e6e6;
$neutral-200: #cdcdcd;
$neutral-300: #b5b5b5;
$neutral-400: #9c9c9c;
$neutral-500: #838383;
$neutral-550: #8b8b8b;
$neutral-600: #696969;
$neutral-700: #4f4f4f;
$neutral-800: #343434;
$neutral-900: #1a1a1a;
$neutral-950: #323232;
$neutral-1000: #0d0d0d;

$white-default: #ffffff;
$black-default: #0d0d0d;
$black: #000;
$black-25: #222222;
$black-50: #151515;
$black-75: #242424;
$black-80: #292929;
$black-100: #161616;
$gray-dark: #2a2a2a;
$gray-100: #212121;
$gray-200: #ddd;
$charcoal: #333;
$solitude: #e5e7eb;
$raven: #6b7280;
$chinese-black: #111;

$gray-default: #f9f9f9;
$orange-100-light: #ffeeda;
$orange-default-light: #ffac46;
$orange-700-light: #99672a;
$bright-gray: #ededed;

$orange-100-dark: #ffedd6;
$orange-default-dark: #ffa333;
$orange-700-dark: #99621f;

$red-100-light: #ffe1e1;
$red-400-light: #ffcdd2;
$red-default-light: #fe6a6a;
$red-700-light: #984040;

$red-100-dark: #ffdede;
$red-default-dark: #ff5959;
$red-700-dark: #993535;
$red-800: #d32f2f;
$red-900: #e57373;

$cyan-100-light: #ddf5fa;
$cyan-default-light: #56cee5;
$cyan-700-light: #347c89;

$cyan-100-dark: #347c89;
$cyan-default-dark: #47dbf7;
$cyan-700-dark: #2b8394;

$purple-100-light: #e3defc;
$purple-default-light: #725bf2;
$purple-700-light: #443791;

$purple-100-dark: #e0dbfe;
$purple-default-dark: #e0dbfe;
$purple-700-dark: #e0dbfe;

$brown-dark: #66451c;

/* Primitives - Value */
:root {
  --color-color-green-light-mode-green-100: rgba(215, 238, 226, 1);
  --color-color-blue-light-mode-blue-100: rgba(211, 225, 248, 1);
  --color-color-neutral-neutral-050: rgba(243, 243, 243, 1);
  --color-color-base-white-default: rgba(255, 255, 255, 1);
  --color-color-neutral-neutral-100: rgba(230, 230, 230, 1);
  --color-color-neutral-neutral-200: rgba(205, 205, 205, 1);
  --color-color-neutral-neutral-300: rgba(181, 181, 181, 1);
  --color-color-neutral-neutral-400: rgba(156, 156, 156, 1);
  --color-color-neutral-neutral-500: rgba(131, 131, 131, 1);
  --color-color-neutral-neutral-600: rgba(105, 105, 105, 1);
  --color-color-neutral-neutral-700: rgba(66, 66, 66, 1);
  --color-color-neutral-neutral-800: rgba(33, 33, 33, 1);
  --color-color-neutral-neutral-900: rgba(20, 20, 20, 1);
  --color-color-neutral-neutral-1000: rgba(13, 13, 13, 1);
  --color-color-base-black-default: rgba(13, 13, 13, 1);
  --color-color-blue-light-mode-blue-200: rgba(166, 195, 241, 1);
  --color-color-blue-light-mode-blue-300: rgba(122, 165, 233, 1);
  --color-color-blue-light-mode-blue-400: rgba(77, 135, 226, 1);
  --color-color-blue-light-mode-blue-default: rgba(33, 105, 219, 1);
  --color-color-blue-light-mode-blue-600: rgba(26, 84, 175, 1);
  --color-color-blue-light-mode-blue-700: rgba(20, 63, 131, 1);
  --color-color-blue-light-mode-blue-800: rgba(13, 42, 88, 1);
  --color-color-blue-light-mode-blue-900: rgba(7, 21, 44, 1);
  --color-color-green-light-mode-green-200: rgba(175, 220, 197, 1);
  --color-color-green-light-mode-green-300: rgba(135, 203, 168, 1);
  --color-color-green-light-mode-green-400: rgba(95, 185, 139, 1);
  --color-color-green-light-mode-green-default: rgba(55, 168, 110, 1);
  --color-color-green-light-mode-green-600: rgba(44, 134, 88, 1);
  --color-color-green-light-mode-green-700: rgba(33, 101, 66, 1);
  --color-color-green-light-mode-green-800: rgba(22, 67, 44, 1);
  --color-color-green-light-mode-green-900: rgba(11, 34, 22, 1);
  --color-color-orange-light-mode-orange-100: rgba(255, 238, 218, 1);
  --color-color-orange-light-mode-orange-200: rgba(255, 222, 181, 1);
  --color-color-orange-light-mode-orange-300: rgba(255, 205, 144, 1);
  --color-color-orange-light-mode-orange-400: rgba(255, 189, 107, 1);
  --color-color-orange-light-mode-orange-default: rgba(255, 172, 70, 1);
  --color-color-orange-light-mode-orange-600: rgba(204, 138, 56, 1);
  --color-color-orange-light-mode-orange-700: rgba(153, 103, 42, 1);
  --color-color-orange-light-mode-orange-800: rgba(102, 69, 28, 1);
  --color-color-orange-light-mode-orange-900: rgba(51, 34, 14, 1);
  --text-weight-regular: Regular;
  --text-weight-medium: Medium;
  --text-weight-demibold: DemiBold;
  --text-weight-bold: Bold;
  --text-typeface-typeface-primary: TT Hoves Pro;
  --color-color-orange-dark-mode-orange-100: rgba(255, 237, 214, 1);
  --color-color-orange-dark-mode-orange-default: rgba(255, 163, 51, 1);
  --color-color-orange-dark-mode-orange-700: rgba(153, 98, 31, 1);
  --color-color-red-light-mode-red-100: rgba(255, 225, 225, 1);
  --color-color-red-light-mode-red-200: rgba(255, 195, 195, 1);
  --color-color-red-light-mode-red-300: rgba(254, 166, 166, 1);
  --color-color-red-light-mode-red-400: rgba(254, 136, 136, 1);
  --color-color-red-light-mode-red-default: rgba(254, 106, 106, 1);
  --color-color-red-light-mode-red-600: rgba(203, 85, 85, 1);
  --color-color-red-light-mode-red-700: rgba(152, 64, 64, 1);
  --color-color-red-light-mode-red-800: rgba(102, 42, 42, 1);
  --color-color-red-light-mode-red-900: rgba(51, 21, 21, 1);
  --color-color-red-dark-mode-red-100: rgba(255, 222, 222, 1);
  --color-color-red-dark-mode-red-default: rgba(255, 89, 89, 1);
  --color-color-red-dark-mode-red-700: rgba(153, 53, 53, 1);
  --color-color-cyan-light-mode-cyan-100: rgba(221, 245, 250, 1);
  --color-color-cyan-light-mode-cyan-default: rgba(86, 206, 229, 1);
  --color-color-cyan-light-mode-cyan-700: rgba(52, 124, 137, 1);
  --color-color-cyan-dark-mode-cyan-100: rgba(218, 248, 253, 1);
  --color-color-cyan-dark-mode-cyan-default: rgba(71, 219, 247, 1);
  --color-color-cyan-dark-mode-cyan-700: rgba(43, 131, 148, 1);
  --color-color-purple-light-mode-purple-100: rgba(227, 222, 252, 1);
  --color-color-purple-light-mode-purple-default: rgba(114, 91, 242, 1);
  --color-color-purple-light-mode-purple-700: rgba(68, 55, 145, 1);
  --color-color-purple-dark-mode-purple-100: rgba(224, 219, 254, 1);
  --color-color-purple-dark-mode-purple-default: rgba(102, 75, 252, 1);
  --color-color-purple-dark-mode-purple-700: rgba(61, 45, 151, 1);
  --color-color-teal-light-mode-purple-100: rgba(216, 247, 239, 1);
  --color-color-teal-light-mode-purple-default: rgba(60, 215, 176, 1);
  --color-color-teal-light-mode-purple-700: rgba(36, 129, 106, 1);
  --color-color-teal-dark-mode-purple-100: rgba(210, 247, 238, 1);
  --color-color-teal-dark-mode-purple-default: rgba(31, 213, 168, 1);
  --color-color-teal-dark-mode-purple-700: rgba(19, 128, 101, 1);
  --color-color-blue-dark-mode-blue-100: rgba(211, 228, 254, 1);
  --color-color-blue-dark-mode-blue-200: rgba(168, 201, 253, 1);
  --color-color-blue-dark-mode-blue-300: rgba(124, 173, 251, 1);
  --color-color-blue-dark-mode-blue-400: rgba(81, 146, 250, 1);
  --surface-accent-secondary-surface-secondary-accent-lightest2: #eff5ff;

  --color-color-blue-dark-mode-blue-default: rgba(37, 119, 249, 1);
  --color-color-blue-dark-mode-blue-600: rgba(30, 95, 199, 1);
  --color-color-blue-dark-mode-blue-700: rgba(22, 71, 149, 1);
  --color-color-blue-dark-mode-blue-800: rgba(15, 48, 100, 1);
  --color-color-blue-dark-mode-blue-900: rgba(7, 24, 50, 1);
  --color-color-green-dark-mode-green-100: rgba(214, 241, 227, 1);
  --color-color-green-dark-mode-green-200: rgba(173, 227, 199, 1);
  --color-color-green-dark-mode-green-300: rgba(133, 212, 172, 1);
  --color-color-green-dark-mode-green-400: rgba(92, 198, 144, 1);
  --color-color-green-dark-mode-green-default: rgba(51, 184, 116, 1);
  --color-color-green-dark-mode-green-600: rgba(41, 147, 93, 1);
  --color-color-green-dark-mode-green-700: rgba(31, 110, 70, 1);
  --color-color-green-dark-mode-green-800: rgba(20, 74, 46, 1);
  --color-color-green-dark-mode-green-900: rgba(10, 37, 23, 1);
  --color-color-black-transparent-neutral-dark-tsp-100: rgba(20, 20, 20, 1);
  --color-color-black-transparent-neutral-dark-tsp-80: rgba(20, 20, 20, 0.800000011920929);
  --color-color-black-transparent-neutral-dark-tsp-70: rgba(20, 20, 20, 0.699999988079071);
  --color-color-black-transparent-neutral-dark-tsp-50: rgba(20, 20, 20, 0.5);
  --color-color-black-transparent-neutral-dark-tsp-30: rgba(20, 20, 20, 0.30000001192092896);
  --color-color-black-transparent-neutral-dark-tsp-10: rgba(20, 20, 20, 0.10000000149011612);
  --color-color-black-transparent-neutral-dark-tsp-5: rgba(20, 20, 20, 0.05000000074505806);
  --color-color-black-transparent-neutral-dark-tsp-2: rgba(20, 20, 20, 0.019999999552965164);
  --color-color-white-transparent-white-tsp-100: rgba(255, 255, 255, 1);
  --color-color-white-transparent-white-tsp-80: rgba(255, 255, 255, 0.800000011920929);
  --color-color-white-transparent-white-tsp-70: rgba(255, 255, 255, 0.699999988079071);
  --color-color-white-transparent-white-tsp-50: rgba(255, 255, 255, 0.5);
  --color-color-white-transparent-white-tsp-30: rgba(255, 255, 255, 0.30000001192092896);
  --color-color-white-transparent-white-tsp-10: rgba(255, 255, 255, 0.10000000149011612);
  --color-color-white-transparent-white-tsp-5: rgba(255, 255, 255, 0.05000000074505806);
  --color-color-white-transparent-white-tsp-2: rgba(255, 255, 255, 0.019999999552965164);
  --color-color-green-transparent-light-green-dark-tsp-100: rgba(55, 168, 110, 1);
  --color-color-green-transparent-light-green-dark-tsp-70: rgba(55, 168, 110, 0.699999988079071);
  --color-color-green-transparent-light-green-dark-tsp-50: rgba(55, 168, 110, 0.5);
  --color-color-green-transparent-light-green-dark-tsp-30: rgba(55, 168, 110, 0.30000001192092896);
  --color-color-green-transparent-light-green-dark-tsp-10: rgba(55, 168, 110, 0.10000000149011612);
  --color-color-green-transparent-light-green-dark-tsp-5: rgba(55, 168, 110, 0.05000000074505806);
  --color-color-green-transparent-light-green-dark-tsp-2: rgba(55, 168, 110, 0.019999999552965164);
  --color-color-blue-transparent-light-blue-light-tsp-100: rgba(33, 105, 219, 1);
  --color-color-blue-transparent-light-blue-light-tsp-70: rgba(33, 105, 219, 0.699999988079071);
  --color-color-blue-transparent-light-blue-light-tsp-50: rgba(33, 105, 219, 0.5);
  --color-color-blue-transparent-light-blue-light-tsp-30: rgba(33, 105, 219, 0.30000001192092896);
  --color-color-blue-transparent-light-blue-light-tsp-10: rgba(33, 105, 219, 0.10000000149011612);
  --color-color-blue-transparent-light-blue-light-tsp-5: rgba(33, 105, 219, 0.05000000074505806);
  --res-no: String value;
  --res-event-code: MLS2025RF;
  --demo-text: Dustin Eastwood;
  --color-color-green-transparent-dark-green-dark-tsp-100: rgba(51, 184, 116, 1);
  --color-color-green-transparent-dark-green-dark-tsp-70: rgba(51, 184, 116, 0.699999988079071);
  --color-color-green-transparent-dark-green-dark-tsp-50: rgba(51, 184, 116, 0.5);
  --color-color-green-transparent-dark-green-dark-tsp-30: rgba(51, 184, 116, 0.30000001192092896);
  --color-color-green-transparent-dark-green-dark-tsp-10: rgba(51, 184, 116, 0.10000000149011612);
  --color-color-green-transparent-dark-green-dark-tsp-5: rgba(51, 184, 116, 0.05000000074505806);
  --color-color-green-transparent-dark-green-dark-tsp-2: rgba(51, 184, 116, 0.019999999552965164);
  --color-color-blue-transparent-dark-blue-dark-tsp-100: rgba(37, 119, 249, 1);
  --color-color-blue-transparent-dark-blue-dark-tsp-70: rgba(37, 119, 249, 0.699999988079071);
  --color-color-blue-transparent-dark-blue-dark-tsp-50: rgba(37, 119, 249, 0.5);
  --color-color-blue-transparent-dark-blue-dark-tsp-30: rgba(37, 119, 249, 0.30000001192092896);
  --color-color-blue-transparent-dark-blue-dark-tsp-10: rgba(37, 119, 249, 0.10000000149011612);
  --color-color-blue-transparent-dark-blue-dark-tsp-5: rgba(37, 119, 249, 0.05000000074505806);
  --color-color-orange-transparent-light-orange-light-tsp-100: rgba(255, 172, 70, 1);
  --color-color-orange-transparent-light-orange-light-tsp-80: rgba(255, 172, 70, 0.800000011920929);
  --color-color-orange-transparent-light-orange-light-tsp-50: rgba(255, 172, 70, 0.5);
  --color-color-orange-transparent-light-orange-light-tsp-30: rgba(255, 172, 70, 0.30000001192092896);
  --color-color-orange-transparent-light-orange-light-tsp-10: rgba(255, 172, 70, 0.10000000149011612);
  --color-color-orange-transparent-light-orange-light-tsp-5: rgba(255, 172, 70, 0.05000000074505806);
  --color-color-orange-transparent-light-orange-light-tsp-2: rgba(255, 172, 70, 0.019999999552965164);
  --color-color-orange-transparent-dark-orange-dark-tsp-100: rgba(255, 163, 51, 1);
  --color-color-orange-transparent-dark-orange-dark-tsp-80: rgba(255, 163, 51, 0.800000011920929);
  --color-color-orange-transparent-dark-orange-dark-tsp-50: rgba(255, 163, 51, 0.5);
  --color-color-orange-transparent-dark-orange-dark-tsp-30: rgba(255, 163, 51, 0.30000001192092896);
  --color-color-orange-transparent-dark-orange-dark-tsp-10: rgba(255, 163, 51, 0.10000000149011612);
  --color-color-orange-transparent-dark-orange-dark-tsp-5: rgba(255, 163, 51, 0.05000000074505806);
  --color-color-orange-transparent-dark-orange-dark-tsp-2: rgba(255, 163, 51, 0.019999999552965164);
  --color-color-red-transparent-light-orange-light-tsp-100: rgba(254, 106, 106, 1);
  --color-color-red-transparent-light-orange-light-tsp-80: rgba(254, 106, 106, 0.800000011920929);
  --color-color-red-transparent-light-orange-light-tsp-70: rgba(254, 106, 106, 0.699999988079071);
  --color-color-red-transparent-light-orange-light-tsp-50: rgba(254, 106, 106, 0.5);
  --color-color-red-transparent-light-orange-light-tsp-30: rgba(254, 106, 106, 0.30000001192092896);
  --color-color-red-transparent-light-orange-light-tsp-10: rgba(254, 106, 106, 0.10000000149011612);
  --color-color-red-transparent-light-orange-light-tsp-5: rgba(254, 106, 106, 0.05000000074505806);
  --color-color-red-transparent-light-orange-light-tsp-2: rgba(254, 106, 106, 0.019999999552965164);
  --color-color-red-transparent-dark-orange-dark-tsp-100: rgba(255, 89, 89, 1);
  --color-color-red-transparent-dark-orange-dark-tsp-80: rgba(255, 101, 89, 0.800000011920929);
  --color-color-red-transparent-dark-orange-dark-tsp-70: rgba(255, 89, 89, 0.699999988079071);
  --color-color-red-transparent-dark-orange-dark-tsp-50: rgba(255, 89, 89, 0.5);
  --color-color-red-transparent-dark-orange-dark-tsp-30: rgba(255, 89, 89, 0.30000001192092896);
  --color-color-red-transparent-dark-orange-dark-tsp-10: rgba(255, 89, 89, 0.10000000149011612);
  --color-color-red-transparent-dark-orange-dark-tsp-5: rgba(255, 89, 89, 0.05000000074505806);
  --color-color-red-transparent-dark-orange-dark-tsp-2: rgba(255, 89, 89, 0.019999999552965164);
}

/* Colors - Light */
:root {
  --background-bg-primary: var(--color-color-neutral-neutral-050);
  --background-bg-secondary: var(--color-color-base-white-default);
  --background-bg-tertiary: var(--color-color-neutral-neutral-200);
  --background-bg-inverse: var(--color-color-neutral-neutral-900);
  --background-bg-accent: var(--color-color-green-dark-mode-green-default);
  --text-label-text-on-label-primary: var(--color-color-green-light-mode-green-default);
  --text-label-text-on-label-secondary: var(--color-color-blue-light-mode-blue-default);
  --text-label-text-on-label-warning: var(--color-color-orange-light-mode-orange-default);
  --text-label-text-on-label-error: var(--color-color-red-light-mode-red-default);
  --text-label-text-on-label-info: var(--color-color-cyan-light-mode-cyan-default);
  --text-primary-text-primary-darker: var(--color-color-neutral-neutral-1000);
  --text-primary-text-primary-dark: var(--color-color-neutral-neutral-900);
  --text-inverse-text-inverse-light: var(--color-color-base-white-default);
  --text-inverse-text-inverse: var(--color-color-neutral-neutral-050);
  --text-inverse-text-inverse-dark: var(--color-color-neutral-neutral-100);
  --text-inverse-text-inverse-darker: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse-darkest: var(--color-color-neutral-neutral-400);
  --text-inverse-text-inverse-80: var(--color-color-white-transparent-white-tsp-80);
  --text-inverse-text-inverse-70: var(--color-color-white-transparent-white-tsp-70);
  --text-inverse-text-inverse-50: var(--color-color-white-transparent-white-tsp-50);
  --text-inverse-text-inverse-30: var(--color-color-white-transparent-white-tsp-30);
  --text-inverse-text-inverse-10: var(--color-color-white-transparent-white-tsp-10);
  --text-primary-text-primary: var(--color-color-neutral-neutral-800);
  --text-accent-text-accent-darkest: var(--color-color-green-light-mode-green-800);
  --text-accent-text-accent-darker: var(--color-color-green-light-mode-green-700);
  --text-primary-text-primary-light: var(--color-color-neutral-neutral-700);
  --text-primary-text-primary-lighter: var(--color-color-neutral-neutral-600);
  --text-primary-text-primary-lightest: var(--color-color-neutral-neutral-500);
  --text-primary-text-primary-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --text-primary-text-primary-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --text-primary-text-primary-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --text-primary-text-primary-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --text-primary-text-primary-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --text-accent-text-accent: var(--color-color-green-light-mode-green-default);
  --text-accent-text-accent-lighter: var(--color-color-green-light-mode-green-200);
  --text-accent-text-accent-lightest: var(--color-color-green-light-mode-green-100);
  --text-accent-text-accent-70: var(--color-color-green-transparent-light-green-dark-tsp-70);
  --text-accent-text-accent-50: var(--color-color-green-transparent-light-green-dark-tsp-50);
  --text-accent-text-accent-30: var(--color-color-green-transparent-light-green-dark-tsp-30);
  --text-accent-text-accent-10: var(--color-color-green-transparent-light-green-dark-tsp-10);
  --text-accent-text-accent-5: var(--color-color-green-transparent-light-green-dark-tsp-5);
  --text-secondary-text-accent-secondary-darkest: var(--color-color-blue-light-mode-blue-800);
  --text-secondary-text-accent-secondary-darker: var(--color-color-blue-light-mode-blue-700);
  --text-secondary-text-accent-secondary-dark: var(--color-color-blue-light-mode-blue-600);
  --text-secondary-text-accent-secondary: var(--color-color-blue-light-mode-blue-default);
  --text-secondary-text-accent-secondary-light: var(--color-color-blue-light-mode-blue-400);
  --text-secondary-text-accent-secondary-lighter: var(--color-color-blue-light-mode-blue-300);
  --text-secondary-text-accent-secondary-lightest: var(--color-color-blue-light-mode-blue-100);
  --text-link-text-link-default: var(--color-color-blue-light-mode-blue-default);
  --text-link-text-link-hover: var(--color-color-blue-light-mode-blue-default);
  --surface-primary-surface-primary-light: var(--color-color-base-white-default);
  --text-on-primary-text-on-primary: var(--color-color-white-transparent-white-tsp-100);
  --text-on-primary-text-on-primary-light: var(--color-color-white-transparent-white-tsp-80);
  --text-on-primary-text-on-primary-lighter: var(--color-color-white-transparent-white-tsp-50);
  --text-on-primary-text-on-primary-lightest: var(--color-color-white-transparent-white-tsp-30);
  --text-on-accent-text-on-accent: var(--color-color-white-transparent-white-tsp-100);
  --text-on-accent-text-on-accent-light: var(--color-color-white-transparent-white-tsp-80);
  --text-on-accent-text-on-accent-lighter: var(--color-color-white-transparent-white-tsp-50);
  --text-on-accent-text-on-accent-lightest: var(--color-color-white-transparent-white-tsp-30);
  --text-on-inverse-text-on-inverse: var(--color-color-neutral-neutral-050);
  --text-on-inverse-text-on-inverse-light: var(--color-color-white-transparent-white-tsp-80);
  --text-on-inverse-text-on-inverse-lighter: var(--color-color-white-transparent-white-tsp-50);
  --text-on-inverse-text-on-inverse-lightest: var(--color-color-white-transparent-white-tsp-30);
  --text-button-text-on-btn-primary: var(--color-color-neutral-neutral-050);
  --text-button-text-on-btn-secondary: var(--color-color-neutral-neutral-050);
  --text-button-text-on-btn-primary-tint: var(--color-color-blue-light-mode-blue-default);
  --text-button-text-on-btn-secondary-tint: var(--color-color-green-dark-mode-green-600);
  --text-button-text-on-btn-solid: var(--color-color-neutral-neutral-800);
  --text-button-text-on-btn-disabled: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --text-button-text-on-btn-inverse: var(--color-color-neutral-neutral-100);
  --text-error-text-error: var(--color-color-red-light-mode-red-default);
  --text-warning-text-warning: var(--color-color-orange-light-mode-orange-default);
  --text-success-text-success: var(--color-color-red-light-mode-red-default);
  --text-info-text-info: var(--color-color-red-light-mode-red-default);
  --surface-primary-surface-primary: var(--color-color-neutral-neutral-050);
  --surface-primary-surface-primary-dark: var(--color-color-neutral-neutral-100);
  --surface-primary-surface-primary-darker: var(--color-color-neutral-neutral-200);
  --surface-primary-surface-primary-darkest: var(--color-color-neutral-neutral-300);
  --surface-primary-surface-primary-80: var(--color-color-white-transparent-white-tsp-80);
  --surface-primary-surface-primary-70: var(--color-color-white-transparent-white-tsp-70);
  --surface-primary-surface-primary-50: var(--color-color-white-transparent-white-tsp-50);
  --surface-primary-surface-primary-30: var(--color-color-white-transparent-white-tsp-30);
  --surface-primary-surface-primary-10: var(--color-color-white-transparent-white-tsp-10);
  --surface-inverse-surface-inverse-light: var(--color-color-neutral-neutral-600);
  --surface-inverse-surface-inverse: var(--color-color-neutral-neutral-700);
  --surface-inverse-surface-inverse-dark: var(--color-color-neutral-neutral-800);
  --surface-inverse-surface-inverse-darker: var(--color-color-neutral-neutral-900);
  --surface-inverse-surface-inverse-darkest: var(--color-color-neutral-neutral-1000);
  --surface-inverse-surface-inverse-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --surface-inverse-surface-inverse-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --surface-inverse-surface-inverse-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --surface-inverse-surface-inverse-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --surface-inverse-surface-inverse-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --surface-inverse-surface-inverse-5: var(--color-color-black-transparent-neutral-dark-tsp-5);
  --surface-inverse-surface-inverse-2: var(--color-color-black-transparent-neutral-dark-tsp-2);
  --surface-accent-surface-accent-lightest: var(--color-color-green-light-mode-green-100);
  --surface-accent-surface-accent-lighter: var(--color-color-green-light-mode-green-300);
  --surface-accent-surface-accent-light: var(--color-color-green-light-mode-green-400);
  --surface-accent-surface-accent: var(--color-color-green-light-mode-green-default);
  --surface-accent-surface-secondary-dark: var(--color-color-green-light-mode-green-600);
  --surface-accent-surface-secondary-darker: var(--color-color-green-light-mode-green-700);
  --surface-accent-surface-secondary-darkest: var(--color-color-green-light-mode-green-800);
  --surface-accent-surface-accent-100: var(--color-color-green-transparent-light-green-dark-tsp-100);
  --surface-accent-surface-accent-70: var(--color-color-green-transparent-light-green-dark-tsp-70);
  --surface-accent-surface-accent-50: var(--color-color-green-transparent-light-green-dark-tsp-50);
  --surface-accent-surface-accent-30: var(--color-color-green-transparent-light-green-dark-tsp-30);
  --surface-accent-surface-accent-10: var(--color-color-green-transparent-light-green-dark-tsp-10);
  --surface-accent-surface-accent-5: var(--color-color-green-transparent-light-green-dark-tsp-10);
  --buttons-primary-button-primary-default: var(--color-color-blue-light-mode-blue-default);
  --buttons-primary-tint-button-primary-tint-default: var(--color-color-blue-transparent-light-blue-light-tsp-10);
  --buttons-primary-tint-button-primary-tint-hover: var(--color-color-blue-light-mode-blue-200);
  --buttons-primary-tint-button-primary-tint-pressed: var(--color-color-blue-dark-mode-blue-100);
  --buttons-primary-tint-button-primary-tint-disabled: var(--color-color-neutral-neutral-100);
  --buttons-primary-tint-button-primary-tint-selected: var(--color-color-neutral-neutral-200);
  --buttons-primary-button-primary-hover: var(--color-color-blue-light-mode-blue-400);
  --buttons-primary-button-primary-pressed: var(--color-color-blue-dark-mode-blue-600);
  --buttons-primary-button-primary-selected: var(--color-color-blue-dark-mode-blue-800);
  --buttons-primary-button-primary-disabled: var(--color-color-neutral-neutral-100);
  --buttons-primary-button-primary-outline: var(--color-color-blue-light-mode-blue-300);
  --buttons-primary-button-primary-outline-hover: var(--color-color-blue-light-mode-blue-400);
  --buttons-primary-button-primary-outline-pressed: var(--color-color-blue-light-mode-blue-default);
  --buttons-secondary-button-primary-default: var(--color-color-green-light-mode-green-default);
  --buttons-secondary-tint-button-primary-default: var(--color-color-green-light-mode-green-100);
  --buttons-secondary-tint-button-primary-hover: var(--color-color-green-light-mode-green-200);
  --buttons-secondary-tint-button-primary-pressed: var(--color-color-green-light-mode-green-400);
  --buttons-secondary-tint-button-primary-disabled: var(--color-color-neutral-neutral-300);
  --buttons-secondary-tint-button-primary-selected: var(--color-color-neutral-neutral-200);
  --buttons-secondary-button-primary-hover: var(--color-color-green-light-mode-green-600);
  --buttons-secondary-button-primary-pressed: var(--color-color-green-light-mode-green-700);
  --buttons-secondary-button-primary-disabled: var(--color-color-neutral-neutral-300);
  --buttons-secondary-button-primary-selected: var(--color-color-neutral-neutral-200);
  --buttons-solid-button-solid-default: var(--color-color-black-transparent-neutral-dark-tsp-2);
  --buttons-solid-button-solid-hover: var(--color-color-black-transparent-neutral-dark-tsp-5);
  --buttons-solid-button-solid-pressed: var(--color-color-black-transparent-neutral-dark-tsp-2);
  --buttons-solid-button-solid-disabled: var(--color-color-neutral-neutral-100);
  --buttons-solid-button-solid-selected: var(--color-color-neutral-neutral-400);
  --buttons-solid-button-solid-outline: var(--color-color-neutral-neutral-100);
  --buttons-inverse-button-inversed-default: var(--color-color-neutral-neutral-900);
  --buttons-inverse-button-inversed-hover: var(--color-color-neutral-neutral-700);
  --buttons-inverse-button-inversed-pressed: var(--color-color-neutral-neutral-800);
  --buttons-inverse-button-inverse-disabled: var(--color-color-black-transparent-neutral-dark-tsp-5);
  --buttons-inverse-button-inverse-selected: var(--color-color-neutral-neutral-700);
  --buttons-inverse-button-inverse-outline: var(--color-color-neutral-neutral-800);
  --surface-accent-secondary-surface-secondary-accent-lightest: var(--color-color-blue-light-mode-blue-100);
  --surface-accent-secondary-surface-secondary-accent-lighter: var(--color-color-blue-light-mode-blue-200);
  --surface-accent-secondary-surface-secondary-accent-light: var(--color-color-blue-light-mode-blue-400);
  --surface-accent-secondary-surface-secondary-accent: var(--color-color-blue-light-mode-blue-default);
  --surface-accent-secondary-surface-secondary-accent-dark: var(--color-color-blue-light-mode-blue-600);
  --surface-accent-secondary-surface-secondary-accent-darker: var(--color-color-blue-light-mode-blue-700);
  --surface-accent-secondary-surface-secondary-accent-darkest: var(--color-color-blue-light-mode-blue-800);
  --surface-accent-secondary-surface-secondary-accent-100: var(--color-color-blue-transparent-light-blue-light-tsp-100);
  --surface-accent-secondary-surface-secondary-accent-70: var(--color-color-blue-transparent-light-blue-light-tsp-70);
  --surface-accent-secondary-surface-secondary-accent-50: var(--color-color-blue-transparent-light-blue-light-tsp-50);
  --surface-accent-secondary-surface-secondary-accent-30: var(--color-color-blue-transparent-light-blue-light-tsp-30);
  --surface-accent-secondary-surface-secondary-accent-10: var(--color-color-blue-transparent-light-blue-light-tsp-10);
  --surface-error-surface-error-lightest: var(--color-color-red-light-mode-red-100);
  --surface-error-surface-error-lighter: var(--color-color-red-light-mode-red-300);
  --surface-error-surface-error-light: var(--color-color-red-light-mode-red-400);
  --surface-error-surface-error: var(--color-color-red-light-mode-red-default);
  --surface-error-surface-error-dark: var(--color-color-red-light-mode-red-600);
  --surface-error-surface-error-darker: var(--color-color-red-light-mode-red-700);
  --surface-error-surface-error-darkest: var(--color-color-red-light-mode-red-800);
  --surface-warning-warning-lightest: var(--color-color-orange-light-mode-orange-100);
  --surface-warning-warning-lighter: var(--color-color-orange-light-mode-orange-200);
  --surface-warning-warning: var(--color-color-orange-light-mode-orange-default);
  --surface-warning-warning-dark: var(--color-color-orange-light-mode-orange-600);
  --surface-warning-warning-darkest: var(--color-color-orange-light-mode-orange-800);
  --icon-primary-icon-primary-lightest: var(--color-color-neutral-neutral-500);
  --icon-primary-icon-primary-lighter: var(--color-color-neutral-neutral-600);
  --icon-primary-icon-primary-light: var(--color-color-neutral-neutral-700);
  --icon-primary-icon-primary: var(--color-color-neutral-neutral-800);
  --icon-primary-icon-primary-dark: var(--color-color-neutral-neutral-900);
  --icon-primary-icon-primary-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --icon-primary-icon-primary-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --icon-primary-icon-primary-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --icon-primary-icon-primary-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --icon-primary-icon-primary-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --icon-primary-icon-primary-5: var(--color-color-black-transparent-neutral-dark-tsp-5);
  --icon-primary-icon-primary-2: var(--color-color-black-transparent-neutral-dark-tsp-2);
  --stroke-primary-stroke-primary-lighter: var(--color-color-neutral-neutral-200);
  --stroke-primary-stroke-primary-light: var(--color-color-neutral-neutral-300);
  --stroke-primary-stroke-primary: var(--color-color-neutral-neutral-400);
  --stroke-primary-stroke-primary-dark: var(--color-color-neutral-neutral-500);
  --stroke-primary-stroke-primary-darker: var(--color-color-neutral-neutral-500);
  --stroke-primary-stroke-primary-80: var(--color-color-white-transparent-white-tsp-80);
  --stroke-primary-stroke-primary-70: var(--color-color-white-transparent-white-tsp-70);
  --stroke-primary-stroke-primary-50: var(--color-color-white-transparent-white-tsp-50);
  --stroke-primary-stroke-primary-30: var(--color-color-white-transparent-white-tsp-30);
  --stroke-primary-stroke-primary-10: var(--color-color-white-transparent-white-tsp-10);
  --stroke-inverse-stroke-inverse-lightest: var(--color-color-neutral-neutral-500);
  --stroke-inverse-stroke-inverse-lighter: var(--color-color-neutral-neutral-600);
  --stroke-inverse-stroke-inverse-light: var(--color-color-neutral-neutral-700);
  --stroke-inverse-stroke-inverse: var(--color-color-neutral-neutral-800);
  --stroke-inverse-stroke-inverse-dark: var(--color-color-neutral-neutral-900);
  --stroke-inverse-stroke-inverse-darkest: var(--color-color-neutral-neutral-1000);
  --stroke-inverse-stroke-inverse-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --stroke-inverse-stroke-inverse-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --stroke-inverse-stroke-inverse-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --stroke-inverse-stroke-inverse-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --stroke-inverse-stroke-inverse-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --stroke-accent-stroke-accent-light: var(--color-color-green-dark-mode-green-400);
  --stroke-secondary-stroke-accent-secondary-light: var(--color-color-blue-light-mode-blue-300);
  --stroke-secondary-stroke-accent-secondary: var(--color-color-blue-light-mode-blue-default);
  --stroke-secondary-stroke-accent-secondary-dark: var(--color-color-blue-light-mode-blue-600);
  --stroke-accent-stroke-accent: var(--color-color-green-light-mode-green-default);
  --stroke-accent-stroke-accent-dark: var(--color-color-green-light-mode-green-600);
  --stroke-error-icon-primary-light: var(--color-color-red-light-mode-red-100);
  --stroke-error-icon-primary: var(--color-color-red-light-mode-red-default);
  --stroke-error-icon-primary-dark: var(--color-color-red-light-mode-red-700);
  --icon-inverse-icon-inverse-light: var(--color-color-base-white-default);
  --icon-inverse-icon-inverse: var(--color-color-neutral-neutral-050);
  --icon-inverse-icon-inverse-dark: var(--color-color-neutral-neutral-200);
  --icon-inverse-icon-inverse-darker: var(--color-color-neutral-neutral-300);
  --icon-inverse-icon-inverse-darkest: var(--color-color-neutral-neutral-400);
  --icon-inverse-icon-inverse-80: var(--color-color-white-transparent-white-tsp-80);
  --icon-inverse-icon-inverse-70: var(--color-color-white-transparent-white-tsp-70);
  --icon-inverse-icon-inverse-50: var(--color-color-white-transparent-white-tsp-50);
  --icon-inverse-icon-inverse-30: var(--color-color-white-transparent-white-tsp-30);
  --icon-inverse-icon-inverse-10: var(--color-color-white-transparent-white-tsp-10);
  --icon-inverse-icon-inverse-5: var(--color-color-white-transparent-white-tsp-5);
  --icon-inverse-icon-inverse-2: var(--color-color-white-transparent-white-tsp-2);
  --icon-accent-icon-primary-light: var(--color-color-green-light-mode-green-300);
  --icon-accent-icon-primary: var(--color-color-green-light-mode-green-default);
  --icon-accent-icon-primary-dark: var(--color-color-green-light-mode-green-700);
  --icon-accent-secondary-icon-primary-light: var(--color-color-blue-light-mode-blue-300);
  --icon-accent-icon-primary-50: var(--color-color-green-transparent-light-green-dark-tsp-50);
  --icon-accent-secondary-icon-primary: var(--color-color-blue-light-mode-blue-default);
  --icon-accent-secondary-icon-primary-dark: var(--color-color-blue-light-mode-blue-700);
  --icon-accent-secondary-icon-primary-50: var(--color-color-blue-transparent-light-blue-light-tsp-50);
  --icon-warning-icon-primary: var(--color-color-orange-light-mode-orange-default);
  --label-label-primary: var(--color-color-green-transparent-light-green-dark-tsp-5);
  --label-label-secondary: var(--color-color-blue-transparent-light-blue-light-tsp-10);
  --label-label-warning: var(--color-color-orange-transparent-dark-orange-dark-tsp-5);
  --label-label-error: var(--color-color-red-transparent-light-orange-light-tsp-5);
  --label-label-info: var(--color-color-cyan-dark-mode-cyan-100);
  --icon-error-icon-primary: var(--color-color-red-light-mode-red-default);
  --buttons-red-tint-button-solid-default: var(--color-color-red-light-mode-red-100);
  --buttons-red-tint-button-solid-hover: var(--color-color-red-light-mode-red-100);
  --buttons-red-tint-button-solid-pressed: var(--color-color-red-light-mode-red-100);
  --buttons-red-tint-button-solid-disabled: var(--color-color-neutral-neutral-100);
  --buttons-red-tint-button-solid-selected: var(--color-color-neutral-neutral-400);
  --buttons-red-tint-button-solid-outline: var(--color-color-red-light-mode-red-default);
  --gradient-bg-green-white-white: var(--background-bg-secondary);
  --gradient-bg-green-white-green: rgba(246, 255, 251, 1);
}

.dark-mode {
  /* Colors - Dark */
  --background-bg-primary: var(--color-color-neutral-neutral-1000);
  --background-bg-secondary: var(--color-color-neutral-neutral-900);
  --background-bg-tertiary: var(--color-color-neutral-neutral-900);
  --background-bg-inverse: var(--color-color-neutral-neutral-100);
  --background-bg-accent: var(--color-color-green-dark-mode-green-default);
  --text-label-text-on-label-primary: var(--color-color-green-dark-mode-green-default);
  --text-label-text-on-label-secondary: var(--color-color-blue-dark-mode-blue-default);
  --text-label-text-on-label-warning: var(--color-color-orange-dark-mode-orange-default);
  --text-label-text-on-label-error: var(--color-color-red-dark-mode-red-default);
  --text-label-text-on-label-info: var(--color-color-cyan-dark-mode-cyan-default);
  --text-primary-text-primary-darker: var(--color-color-neutral-neutral-200);
  --text-primary-text-primary-dark: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse-light: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse-dark: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse-darker: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse-darkest: var(--color-color-neutral-neutral-200);
  --text-inverse-text-inverse-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --text-inverse-text-inverse-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --text-inverse-text-inverse-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --text-inverse-text-inverse-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --text-inverse-text-inverse-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --text-primary-text-primary: var(--color-color-neutral-neutral-050);
  --text-accent-text-accent-darkest: var(--color-color-green-dark-mode-green-default);
  --text-accent-text-accent-darker: var(--color-color-green-dark-mode-green-default);
  --text-primary-text-primary-light: var(--color-color-neutral-neutral-600);
  --text-primary-text-primary-lighter: var(--color-color-neutral-neutral-700);
  --text-primary-text-primary-lightest: var(--color-color-neutral-neutral-700);
  --text-primary-text-primary-80: var(--color-color-white-transparent-white-tsp-80);
  --text-primary-text-primary-70: var(--color-color-white-transparent-white-tsp-70);
  --text-primary-text-primary-50: var(--color-color-white-transparent-white-tsp-50);
  --text-primary-text-primary-30: var(--color-color-white-transparent-white-tsp-30);
  --text-primary-text-primary-10: var(--color-color-white-transparent-white-tsp-10);
  --text-accent-text-accent: var(--color-color-green-dark-mode-green-default);
  --text-accent-text-accent-lighter: var(--color-color-green-dark-mode-green-default);
  --text-accent-text-accent-lightest: var(--color-color-green-dark-mode-green-default);
  --text-accent-text-accent-70: var(--color-color-green-transparent-dark-green-dark-tsp-70);
  --text-accent-text-accent-50: var(--color-color-green-transparent-dark-green-dark-tsp-50);
  --text-accent-text-accent-30: var(--color-color-green-transparent-dark-green-dark-tsp-30);
  --text-accent-text-accent-10: var(--color-color-green-transparent-dark-green-dark-tsp-10);
  --text-accent-text-accent-5: var(--color-color-green-transparent-dark-green-dark-tsp-5);
  --text-secondary-text-accent-secondary-darkest: var(--color-color-blue-light-mode-blue-default);
  --text-secondary-text-accent-secondary-darker: var(--color-color-blue-light-mode-blue-default);
  --text-secondary-text-accent-secondary-dark: var(--color-color-blue-light-mode-blue-default);
  --text-secondary-text-accent-secondary: var(--color-color-blue-dark-mode-blue-default);
  --text-secondary-text-accent-secondary-light: var(--color-color-blue-light-mode-blue-default);
  --text-secondary-text-accent-secondary-lighter: var(--color-color-blue-light-mode-blue-default);
  --text-secondary-text-accent-secondary-lightest: var(--color-color-blue-light-mode-blue-default);
  --text-link-text-link-default: var(--color-color-blue-light-mode-blue-default);
  --text-link-text-link-hover: var(--color-color-blue-light-mode-blue-default);
  --surface-primary-surface-primary-light: var(--color-color-neutral-neutral-800);
  --text-on-primary-text-on-primary: var(--color-color-neutral-neutral-100);
  --text-on-primary-text-on-primary-light: var(--color-color-neutral-neutral-100);
  --text-on-primary-text-on-primary-lighter: var(--color-color-neutral-neutral-100);
  --text-on-primary-text-on-primary-lightest: var(--color-color-neutral-neutral-100);
  --text-on-accent-text-on-accent: var(--color-color-neutral-neutral-100);
  --text-on-accent-text-on-accent-light: var(--color-color-neutral-neutral-100);
  --text-on-accent-text-on-accent-lighter: var(--color-color-neutral-neutral-100);
  --text-on-accent-text-on-accent-lightest: var(--color-color-neutral-neutral-100);
  --text-on-inverse-text-on-inverse: var(--color-color-neutral-neutral-100);
  --text-on-inverse-text-on-inverse-light: var(--color-color-neutral-neutral-100);
  --text-on-inverse-text-on-inverse-lighter: var(--color-color-neutral-neutral-100);
  --text-on-inverse-text-on-inverse-lightest: var(--color-color-neutral-neutral-100);
  --text-button-text-on-btn-primary: var(--color-color-neutral-neutral-050);
  --text-button-text-on-btn-secondary: var(--color-color-neutral-neutral-100);
  --text-button-text-on-btn-primary-tint: var(--color-color-blue-dark-mode-blue-default);
  --text-button-text-on-btn-secondary-tint: var(--color-color-green-dark-mode-green-default);
  --text-button-text-on-btn-solid: var(--color-color-neutral-neutral-100);
  --text-button-text-on-btn-disabled: var(--color-color-white-transparent-white-tsp-30);
  --text-button-text-on-btn-inverse: var(--color-color-neutral-neutral-100);
  --text-error-text-error: var(--color-color-neutral-neutral-100);
  --text-warning-text-warning: var(--color-color-orange-dark-mode-orange-default);
  --text-success-text-success: var(--color-color-neutral-neutral-100);
  --text-info-text-info: var(--color-color-neutral-neutral-100);
  --surface-primary-surface-primary: var(--color-color-neutral-neutral-800);
  --surface-primary-surface-primary-dark: var(--color-color-neutral-neutral-700);
  --surface-primary-surface-primary-darker: var(--color-color-neutral-neutral-600);
  --surface-primary-surface-primary-darkest: var(--color-color-neutral-neutral-500);
  --surface-primary-surface-primary-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --surface-primary-surface-primary-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --surface-primary-surface-primary-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --surface-primary-surface-primary-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --surface-primary-surface-primary-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --surface-inverse-surface-inverse-light: var(--color-color-base-white-default);
  --surface-inverse-surface-inverse: var(--color-color-neutral-neutral-050);
  --surface-inverse-surface-inverse-dark: var(--color-color-neutral-neutral-100);
  --surface-inverse-surface-inverse-darker: var(--color-color-neutral-neutral-200);
  --surface-inverse-surface-inverse-darkest: var(--color-color-neutral-neutral-300);
  --surface-inverse-surface-inverse-80: var(--color-color-white-transparent-white-tsp-80);
  --surface-inverse-surface-inverse-70: var(--color-color-white-transparent-white-tsp-70);
  --surface-inverse-surface-inverse-50: var(--color-color-white-transparent-white-tsp-50);
  --surface-inverse-surface-inverse-30: var(--color-color-white-transparent-white-tsp-30);
  --surface-inverse-surface-inverse-10: var(--color-color-white-transparent-white-tsp-10);
  --surface-inverse-surface-inverse-5: var(--color-color-white-transparent-white-tsp-10);
  --surface-inverse-surface-inverse-2: var(--color-color-white-transparent-white-tsp-10);
  --surface-accent-surface-accent-lightest: var(--color-color-green-dark-mode-green-100);
  --surface-accent-surface-accent-lighter: var(--color-color-green-dark-mode-green-300);
  --surface-accent-surface-accent-light: var(--color-color-green-dark-mode-green-400);
  --surface-accent-surface-accent: var(--color-color-green-dark-mode-green-default);
  --surface-accent-surface-secondary-dark: var(--color-color-green-dark-mode-green-600);
  --surface-accent-surface-secondary-darker: var(--color-color-green-dark-mode-green-700);
  --surface-accent-surface-secondary-darkest: var(--color-color-green-dark-mode-green-800);
  --surface-accent-surface-accent-100: var(--color-color-green-transparent-dark-green-dark-tsp-100);
  --surface-accent-surface-accent-70: var(--color-color-green-transparent-dark-green-dark-tsp-70);
  --surface-accent-surface-accent-50: var(--color-color-green-transparent-dark-green-dark-tsp-50);
  --surface-accent-surface-accent-30: var(--color-color-green-transparent-dark-green-dark-tsp-30);
  --surface-accent-surface-accent-10: var(--color-color-green-transparent-dark-green-dark-tsp-10);
  --surface-accent-surface-accent-5: var(--color-color-green-transparent-dark-green-dark-tsp-10);
  --buttons-primary-button-primary-default: var(--color-color-blue-light-mode-blue-default);
  --buttons-primary-tint-button-primary-tint-default: var(--color-color-blue-transparent-light-blue-light-tsp-30);
  --buttons-primary-tint-button-primary-tint-hover: var(--color-color-neutral-neutral-700);
  --buttons-primary-tint-button-primary-tint-pressed: var(--color-color-neutral-neutral-700);
  --buttons-primary-tint-button-primary-tint-disabled: var(--color-color-neutral-neutral-700);
  --buttons-primary-tint-button-primary-tint-selected: var(--color-color-neutral-neutral-700);
  --buttons-primary-button-primary-hover: var(--color-color-neutral-neutral-700);
  --buttons-primary-button-primary-pressed: var(--color-color-neutral-neutral-700);
  --buttons-primary-button-primary-selected: var(--color-color-neutral-neutral-700);
  --buttons-primary-button-primary-disabled: var(--color-color-neutral-neutral-700);
  --buttons-primary-button-primary-outline: var(--color-color-blue-light-mode-blue-default);
  --buttons-primary-button-primary-outline-hover: var(--color-color-blue-light-mode-blue-default);
  --buttons-primary-button-primary-outline-pressed: var(--color-color-blue-light-mode-blue-default);
  --buttons-secondary-button-primary-default: var(--color-color-blue-light-mode-blue-default);
  --buttons-secondary-tint-button-primary-default: var(--color-color-blue-light-mode-blue-default);
  --buttons-secondary-tint-button-primary-hover: var(--color-color-neutral-neutral-700);
  --buttons-secondary-tint-button-primary-pressed: var(--color-color-neutral-neutral-700);
  --buttons-secondary-tint-button-primary-disabled: var(--color-color-neutral-neutral-700);
  --buttons-secondary-tint-button-primary-selected: var(--color-color-neutral-neutral-700);
  --buttons-secondary-button-primary-hover: var(--color-color-neutral-neutral-700);
  --buttons-secondary-button-primary-pressed: var(--color-color-neutral-neutral-700);
  --buttons-secondary-button-primary-disabled: var(--color-color-neutral-neutral-700);
  --buttons-secondary-button-primary-selected: var(--color-color-neutral-neutral-700);
  --buttons-solid-button-solid-default: var(--color-color-white-transparent-white-tsp-10);
  --buttons-solid-button-solid-hover: var(--color-color-neutral-neutral-700);
  --buttons-solid-button-solid-pressed: var(--color-color-neutral-neutral-700);
  --buttons-solid-button-solid-disabled: var(--color-color-neutral-neutral-700);
  --buttons-solid-button-solid-selected: var(--color-color-neutral-neutral-700);
  --buttons-solid-button-solid-outline: var(--color-color-neutral-neutral-700);
  --buttons-inverse-button-inversed-default: var(--color-color-blue-light-mode-blue-default);
  --buttons-inverse-button-inversed-hover: var(--color-color-neutral-neutral-700);
  --buttons-inverse-button-inversed-pressed: var(--color-color-neutral-neutral-700);
  --buttons-inverse-button-inverse-disabled: var(--color-color-white-transparent-white-tsp-10);
  --buttons-inverse-button-inverse-selected: var(--color-color-neutral-neutral-700);
  --buttons-inverse-button-inverse-outline: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent-lightest: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent-lighter: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent-light: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent: rgba(33, 105, 219, 1);
  --surface-accent-secondary-surface-secondary-accent-dark: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent-darker: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent-darkest: var(--color-color-neutral-neutral-700);
  --surface-accent-secondary-surface-secondary-accent-100: var(--color-color-blue-transparent-light-blue-light-tsp-100);
  --surface-accent-secondary-surface-secondary-accent-70: var(--color-color-blue-transparent-light-blue-light-tsp-70);
  --surface-accent-secondary-surface-secondary-accent-50: var(--color-color-blue-transparent-light-blue-light-tsp-50);
  --surface-accent-secondary-surface-secondary-accent-30: var(--color-color-blue-transparent-light-blue-light-tsp-30);
  --surface-accent-secondary-surface-secondary-accent-10: var(--color-color-blue-transparent-light-blue-light-tsp-10);
  --surface-error-surface-error-lightest: rgba(255, 255, 255, 1);
  --surface-error-surface-error-lighter: rgba(255, 255, 255, 1);
  --surface-error-surface-error-light: rgba(255, 255, 255, 1);
  --surface-error-surface-error: rgba(255, 255, 255, 1);
  --surface-error-surface-error-dark: rgba(255, 255, 255, 1);
  --surface-error-surface-error-darker: rgba(255, 255, 255, 1);
  --surface-error-surface-error-darkest: rgba(255, 255, 255, 1);
  --surface-warning-warning-lightest: rgba(255, 255, 255, 1);
  --surface-warning-warning-lighter: rgba(255, 255, 255, 1);
  --surface-warning-warning: rgba(255, 255, 255, 1);
  --surface-warning-warning-dark: rgba(255, 255, 255, 1);
  --surface-warning-warning-darkest: rgba(255, 255, 255, 1);
  --icon-primary-icon-primary-lightest: var(--color-color-neutral-neutral-700);
  --icon-primary-icon-primary-lighter: var(--color-color-neutral-neutral-700);
  --icon-primary-icon-primary-light: var(--color-color-neutral-neutral-700);
  --icon-primary-icon-primary: var(--color-color-neutral-neutral-050);
  --icon-primary-icon-primary-dark: var(--color-color-neutral-neutral-100);
  --icon-primary-icon-primary-80: var(--color-color-white-transparent-white-tsp-80);
  --icon-primary-icon-primary-70: var(--color-color-white-transparent-white-tsp-70);
  --icon-primary-icon-primary-50: var(--color-color-white-transparent-white-tsp-50);
  --icon-primary-icon-primary-30: var(--color-color-white-transparent-white-tsp-30);
  --icon-primary-icon-primary-10: var(--color-color-white-transparent-white-tsp-10);
  --icon-primary-icon-primary-5: var(--color-color-white-transparent-white-tsp-5);
  --icon-primary-icon-primary-2: var(--color-color-white-transparent-white-tsp-2);
  --stroke-primary-stroke-primary-lighter: var(--color-color-neutral-neutral-700);
  --stroke-primary-stroke-primary-light: var(--color-color-neutral-neutral-600);
  --stroke-primary-stroke-primary: var(--color-color-neutral-neutral-700);
  --stroke-primary-stroke-primary-dark: var(--color-color-neutral-neutral-050);
  --stroke-primary-stroke-primary-darker: var(--color-color-green-light-mode-green-default);
  --stroke-primary-stroke-primary-80: var(--color-color-green-light-mode-green-default);
  --stroke-primary-stroke-primary-70: var(--color-color-green-light-mode-green-default);
  --stroke-primary-stroke-primary-50: var(--color-color-green-light-mode-green-default);
  --stroke-primary-stroke-primary-30: var(--color-color-white-transparent-white-tsp-10);
  --stroke-primary-stroke-primary-10: var(--color-color-green-light-mode-green-default);
  --stroke-inverse-stroke-inverse-lightest: var(--color-color-neutral-neutral-700);
  --stroke-inverse-stroke-inverse-lighter: var(--color-color-neutral-neutral-700);
  --stroke-inverse-stroke-inverse-light: var(--color-color-neutral-neutral-700);
  --stroke-inverse-stroke-inverse: var(--color-color-white-transparent-white-tsp-70);
  --stroke-inverse-stroke-inverse-dark: var(--color-color-white-transparent-white-tsp-80);
  --stroke-inverse-stroke-inverse-darkest: var(--color-color-white-transparent-white-tsp-70);
  --stroke-inverse-stroke-inverse-80: var(--color-color-white-transparent-white-tsp-70);
  --stroke-inverse-stroke-inverse-70: var(--color-color-white-transparent-white-tsp-70);
  --stroke-inverse-stroke-inverse-50: var(--color-color-white-transparent-white-tsp-50);
  --stroke-inverse-stroke-inverse-30: var(--color-color-white-transparent-white-tsp-30);
  --stroke-inverse-stroke-inverse-10: var(--color-color-white-transparent-white-tsp-10);
  --stroke-accent-stroke-accent-light: var(--color-color-neutral-neutral-700);
  --stroke-secondary-stroke-accent-secondary-light: var(--color-color-neutral-neutral-700);
  --stroke-secondary-stroke-accent-secondary: var(--color-color-green-light-mode-green-default);
  --stroke-secondary-stroke-accent-secondary-dark: var(--color-color-green-light-mode-green-default);
  --stroke-accent-stroke-accent: var(--color-color-green-light-mode-green-default);
  --stroke-accent-stroke-accent-dark: var(--color-color-green-light-mode-green-default);
  --stroke-error-icon-primary-light: var(--color-color-neutral-neutral-700);
  --stroke-error-icon-primary: var(--color-color-green-light-mode-green-default);
  --stroke-error-icon-primary-dark: var(--color-color-green-light-mode-green-default);
  --icon-inverse-icon-inverse-light: var(--color-color-neutral-neutral-700);
  --icon-inverse-icon-inverse: var(--color-color-neutral-neutral-050);
  --icon-inverse-icon-inverse-dark: var(--color-color-neutral-neutral-200);
  --icon-inverse-icon-inverse-darker: var(--color-color-neutral-neutral-300);
  --icon-inverse-icon-inverse-darkest: var(--color-color-neutral-neutral-400);
  --icon-inverse-icon-inverse-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
  --icon-inverse-icon-inverse-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
  --icon-inverse-icon-inverse-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
  --icon-inverse-icon-inverse-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
  --icon-inverse-icon-inverse-10: var(--color-color-black-transparent-neutral-dark-tsp-10);
  --icon-inverse-icon-inverse-5: var(--color-color-black-transparent-neutral-dark-tsp-5);
  --icon-inverse-icon-inverse-2: var(--color-color-black-transparent-neutral-dark-tsp-2);
  --icon-accent-icon-primary-light: var(--color-color-green-dark-mode-green-100);
  --icon-accent-icon-primary: var(--color-color-green-light-mode-green-default);
  --icon-accent-icon-primary-dark: var(--color-color-green-light-mode-green-default);
  --icon-accent-secondary-icon-primary-light: var(--color-color-blue-dark-mode-blue-300);
  --icon-accent-icon-primary-50: var(--color-color-green-transparent-dark-green-dark-tsp-50);
  --icon-accent-secondary-icon-primary: var(--color-color-blue-dark-mode-blue-default);
  --icon-accent-secondary-icon-primary-dark: var(--color-color-blue-dark-mode-blue-700);
  --icon-accent-secondary-icon-primary-50: var(--color-color-blue-transparent-dark-blue-dark-tsp-50);
  --icon-warning-icon-primary: var(--color-color-orange-dark-mode-orange-default);
  --label-label-primary: var(--color-color-green-transparent-dark-green-dark-tsp-5);
  --label-label-secondary: var(--color-color-blue-transparent-dark-blue-dark-tsp-10);
  --label-label-warning: var(--color-color-orange-transparent-dark-orange-dark-tsp-5);
  --label-label-error: var(--color-color-red-transparent-dark-orange-dark-tsp-5);
  --label-label-info: rgba(255, 255, 255, 1);
  --icon-error-icon-primary: var(--color-color-orange-dark-mode-orange-default);
  --buttons-red-tint-button-solid-default: var(--color-color-neutral-neutral-700);
  --buttons-red-tint-button-solid-hover: var(--color-color-neutral-neutral-700);
  --buttons-red-tint-button-solid-pressed: var(--color-color-neutral-neutral-700);
  --buttons-red-tint-button-solid-disabled: var(--color-color-neutral-neutral-700);
  --buttons-red-tint-button-solid-selected: var(--color-color-neutral-neutral-700);
  --buttons-red-tint-button-solid-outline: var(--color-color-neutral-neutral-700);
  --gradient-bg-green-white-white: var(--background-bg-secondary);
  --gradient-bg-green-white-green: rgba(17, 25, 21, 1);
}
