@use "sass:map";
@use "breakpoints" as *;
@use "typography" as *;
@use "spacing" as *;
// Font setting mixin

@mixin font-setting($size, $weight, $height, $letter-spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $letter-spacing;
}

@mixin padding($property, $size) {
  #{$property}: $size !important;
}

@mixin margin($property, $size) {
  #{$property}: $size !important;
}

@mixin elevation-1 {
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0),
    0px 5px 2px 0px rgba(0, 0, 0, 0.01), 0px 3px 2px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(0, 0, 0, 0.09), 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
@mixin elevation-2 {
  box-shadow: 0px 16px 5px 0px rgba(0, 0, 0, 0),
    0px 10px 4px 0px rgba(0, 0, 0, 0.01), 0px 6px 4px 0px rgba(0, 0, 0, 0.05),
    0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
@mixin elevation-4 {
  box-shadow: 0px 36px 10px 0px rgba(0, 0, 0, 0),
    0px 23px 9px 0px rgba(0, 0, 0, 0.01), 0px 13px 8px 0px rgba(0, 0, 0, 0.05),
    0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
@mixin elevation-8 {
  box-shadow: 0px 83px 23px 0px rgba(0, 0, 0, 0),
    0px 53px 21px 0px rgba(0, 0, 0, 0.01), 0px 30px 18px 0px rgba(0, 0, 0, 0.05),
    0px 13px 13px 0px rgba(0, 0, 0, 0.09), 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}
@mixin elevation-20 {
  box-shadow: 0px 127px 36px 0px rgba(0, 0, 0, 0),
    0px 81px 33px 0px rgba(0, 0, 0, 0.01), 0px 46px 27px 0px rgba(0, 0, 0, 0.05),
    0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 5px 11px 0px rgba(0, 0, 0, 0.1);
}
@mixin elevation-4-blue {
  box-shadow: 0px 36px 10px 0px rgba(56, 133, 255, 0),
    0px 23px 9px 0px rgba(56, 133, 255, 0.01),
    0px 13px 8px 0px rgba(56, 133, 255, 0.05),
    0px 6px 6px 0px rgba(56, 133, 255, 0.09),
    0px 1px 3px 0px rgba(56, 133, 255, 0.1);
}

// responsive Mixins
@mixin media-up($breakpoint) {
  $min: map-get($breakpoints, $breakpoint);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  }
}

@mixin media-down($breakpoint) {
  $max: map.get($breakpoints, $breakpoint);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  }
}

@mixin media-between($breakpoint-min, $breakpoint-max) {
  $min: map.get($breakpoints, $breakpoint-min);
  $max: map.get($breakpoints, $breakpoint-max);
  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

//style when user has reduced browser by clicking reduce button beside maximize button
@mixin media-reduced-browser() {
  @media (min-width: 768px) and (max-height: 600px) {
    @content;
  }
}

// Large = 1
// Medium = 2
// Small = 3
/* example
Figma: display-medium-medium ==> display-2-medium
Figma: title-medium-large ==> title-1-medium
Figma: title-bold-small ==> title-3-bold
Figma: title-demibold-medium
*/
@mixin display-1-bold {
  @include font-setting(
    $text-size-52,
    $font-bold,
    $lineheight-56,
    $letter-spacing-n010
  );
}
@mixin display-2-bold {
  @include font-setting(
    $text-size-44,
    $font-bold,
    $lineheight-50,
    $letter-spacing-n120
  );
}
@mixin display-3-bold {
  @include font-setting(
    $text-size-36,
    $font-bold,
    $lineheight-40,
    $letter-spacing-n010
  );
}

// * Display Demibold: 600
@mixin display-1-demibold {
  @include font-setting(
    $text-size-52,
    $font-demibold,
    $lineheight-56,
    $letter-spacing-n010
  );
}
@mixin display-2-demibold {
  @include font-setting(
    $text-size-44,
    $font-demibold,
    $lineheight-50,
    $letter-spacing-n120
  );
}
@mixin display-3-demibold {
  @include font-setting(
    $text-size-36,
    $font-demibold,
    $lineheight-40,
    $letter-spacing-n010
  );
}

// * Display Medium: 500
@mixin display-1-medium {
  @include font-setting(
    $text-size-52,
    $font-medium,
    $lineheight-56,
    $letter-spacing-n010
  );
}
@mixin display-2-medium {
  @include font-setting(
    $text-size-44,
    $font-medium,
    $lineheight-50,
    $letter-spacing-n120
  );
}
@mixin display-3-medium {
  @include font-setting(
    $text-size-36,
    $font-medium,
    $lineheight-40,
    $letter-spacing-n010
  );
}

// * Display Regular: 400
@mixin display-1-regular {
  @include font-setting(
    $text-size-52,
    $font-regular,
    $lineheight-56,
    $letter-spacing-n010
  );
}
@mixin display-2-regular {
  @include font-setting(
    $text-size-44,
    $font-regular,
    $lineheight-50,
    $letter-spacing-n120
  );
}
@mixin display-3-regular {
  @include font-setting(
    $text-size-36,
    $font-regular,
    $lineheight-40,
    $letter-spacing-n010
  );
}

/*
* Start: Headline Class
*/

// * Headline Bold: 700
@mixin headline-1-bold {
  @include font-setting(
    $text-size-28,
    $font-bold,
    $lineheight-34,
    $letter-spacing-n030
  );
}
@mixin headline-2-bold {
  @include font-setting(
    $text-size-24,
    $font-bold,
    $lineheight-32,
    $letter-spacing-020
  );
}
@mixin headline-3-bold {
  @include font-setting(
    $text-size-20,
    $font-bold,
    $lineheight-26,
    $letter-spacing-020
  );
}

// * Headline Demibold: 600
@mixin headline-1-demibold {
  @include font-setting(
    $text-size-28,
    $font-demibold,
    $lineheight-34,
    $letter-spacing-n030
  );
}
@mixin headline-2-demibold {
  @include font-setting(
    $text-size-24,
    $font-demibold,
    $lineheight-32,
    $letter-spacing-020
  );
}
@mixin headline-3-demibold {
  @include font-setting(
    $text-size-20,
    $font-demibold,
    $lineheight-26,
    $letter-spacing-020
  );
}

// * Headline Medium: 500
@mixin headline-1-medium {
  @include font-setting(
    $text-size-28,
    $font-medium,
    $lineheight-34,
    $letter-spacing-n030
  );
}
@mixin headline-2-medium {
  @include font-setting(
    $text-size-24,
    $font-medium,
    $lineheight-32,
    $letter-spacing-020
  );
}
@mixin headline-3-medium {
  @include font-setting(
    $text-size-20,
    $font-medium,
    $lineheight-26,
    $letter-spacing-020
  );
}

// * Headline Regular: 400
@mixin headline-1-regular {
  @include font-setting(
    $text-size-28,
    $font-regular,
    $lineheight-34,
    $letter-spacing-n030
  );
}
@mixin headline-2-regular {
  @include font-setting(
    $text-size-24,
    $font-regular,
    $lineheight-32,
    $letter-spacing-020
  );
}
@mixin headline-3-regular {
  @include font-setting(
    $text-size-20,
    $font-regular,
    $lineheight-26,
    $letter-spacing-020
  );
}

/*
* Start: Title Class
*/

// * Title Bold: 700
@mixin title-1-bold {
  @include font-setting(
    $text-size-20,
    $font-bold,
    $lineheight-26,
    $letter-spacing-n010
  );
}
@mixin title-2-bold {
  @include font-setting(
    $text-size-18,
    $font-bold,
    $lineheight-24,
    $letter-spacing-n010
  );
}
@mixin title-3-bold {
  @include font-setting(
    $text-size-16,
    $font-bold,
    $lineheight-20,
    $letter-spacing-000
  );
}

// * Title Demibold: 600
@mixin title-1-demibold {
  @include font-setting(
    $text-size-20,
    $font-demibold,
    $lineheight-26,
    $letter-spacing-n010
  );
}
@mixin title-2-demibold {
  @include font-setting(
    $text-size-18,
    $font-demibold,
    $lineheight-24,
    $letter-spacing-n010
  );
}
@mixin title-3-demibold {
  @include font-setting(
    $text-size-16,
    $font-demibold,
    $lineheight-20,
    $letter-spacing-000
  );
}

// * Title Medium: 500
@mixin title-1-medium {
  @include font-setting(
    $text-size-20,
    $font-medium,
    $lineheight-26,
    $letter-spacing-n010
  );
}
@mixin title-2-medium {
  @include font-setting(
    $text-size-18,
    $font-medium,
    $lineheight-24,
    $letter-spacing-n010
  );
}
@mixin title-3-medium {
  @include font-setting(
    $text-size-16,
    $font-medium,
    $lineheight-20,
    $letter-spacing-000
  );
}

// * Title Regular: 400
@mixin title-1-regular {
  @include font-setting(
    $text-size-20,
    $font-regular,
    $lineheight-26,
    $letter-spacing-n010
  );
}
@mixin title-2-regular {
  @include font-setting(
    $text-size-18,
    $font-regular,
    $lineheight-24,
    $letter-spacing-n010
  );
}
@mixin title-3-regular {
  @include font-setting(
    $text-size-16,
    $font-regular,
    $lineheight-20,
    $letter-spacing-000
  );
}

/*
* Start: Body Class
*/

// * Body Bold: 700
@mixin body-1-bold {
  @include font-setting(
    $text-size-18,
    $font-bold,
    $lineheight-24,
    $letter-spacing-000
  );
}
@mixin body-2-bold {
  @include font-setting(
    $text-size-16,
    $font-bold,
    $lineheight-22,
    $letter-spacing-000
  );
}
@mixin body-3-bold {
  @include font-setting(
    $text-size-14,
    $font-bold,
    $lineheight-20,
    $letter-spacing-000
  );
}

// * Body Demibold: 600
@mixin body-1-demibold {
  @include font-setting(
    $text-size-18,
    $font-demibold,
    $lineheight-24,
    $letter-spacing-000
  );
}
@mixin body-2-demibold {
  @include font-setting(
    $text-size-16,
    $font-demibold,
    $lineheight-22,
    $letter-spacing-000
  );
}
@mixin body-3-demibold {
  @include font-setting(
    $text-size-14,
    $font-demibold,
    $lineheight-20,
    $letter-spacing-000
  );
}

// * Body Medium: 500
@mixin body-1-medium {
  @include font-setting(
    $text-size-18,
    $font-medium,
    $lineheight-24,
    $letter-spacing-000
  );
}

// body-medium-medium
@mixin body-2-medium {
  @include font-setting(
    $text-size-16,
    $font-medium,
    $lineheight-22,
    $letter-spacing-000
  );
}
@mixin body-3-medium {
  @include font-setting(
    $text-size-14,
    $font-medium,
    $lineheight-20,
    $letter-spacing-000
  );
}

// * Body Regular: 400
@mixin body-1-regular {
  @include font-setting(
    $text-size-18,
    $font-regular,
    $lineheight-24,
    $letter-spacing-000
  );
}
@mixin body-2-regular {
  @include font-setting(
    $text-size-16,
    $font-regular,
    $lineheight-22,
    $letter-spacing-000
  );
}
@mixin body-3-regular {
  @include font-setting(
    $text-size-14,
    $font-regular,
    $lineheight-20,
    $letter-spacing-000
  );
}

/*
* Start: Label Class
*/

// * Label Bold: 700
@mixin label-1-bold {
  @include font-setting(
    $text-size-16,
    $font-bold,
    $lineheight-20,
    $letter-spacing-000
  );
}
@mixin label-2-bold {
  @include font-setting(
    $text-size-12,
    $font-bold,
    $lineheight-16,
    $letter-spacing-020
  );
}
@mixin label-3-bold {
  @include font-setting(
    $text-size-12,
    $font-bold,
    $lineheight-16,
    $letter-spacing-000
  );
}

// * Label Demibold: 600
@mixin label-1-demibold {
  @include font-setting(
    $text-size-16,
    $font-demibold,
    $lineheight-20,
    $letter-spacing-000
  );
}
@mixin label-2-demibold {
  @include font-setting(
    $text-size-12,
    $font-demibold,
    $lineheight-16,
    $letter-spacing-020
  );
}
@mixin label-3-demibold {
  @include font-setting(
    $text-size-12,
    $font-demibold,
    $lineheight-16,
    $letter-spacing-000
  );
}

// * Label Medium: 500
@mixin label-1-medium {
  @include font-setting(
    $text-size-16,
    $font-medium,
    $lineheight-20,
    $letter-spacing-000
  );
}
@mixin label-2-medium {
  @include font-setting(
    $text-size-12,
    $font-medium,
    $lineheight-16,
    $letter-spacing-020
  );
}
@mixin label-3-medium {
  @include font-setting(
    $text-size-11,
    $font-medium,
    $lineheight-16,
    $letter-spacing-000
  );
}

@mixin large-btn {
  @include title-3-demibold;
  height: 3.25rem;
  padding: $sizing-16 $sizing-40; //1rem 2.5rem;
  border-radius: $sizing-12; //0.75rem;
  gap: $sizing-10; //0.625rem;
}
@mixin small-btn {
  @include body-2-demibold;
  height: 2.875rem;
  padding: $sizing-12 $sizing-20; //0.75rem 1.25rem;
  border-radius: $sizing-16; //1rem;
  gap: $sizing-4; //0.25rem;
}
@mixin xsmall-btn {
  @include body-3-demibold;
  height: 2.25rem;
  padding: $sizing-8 $sizing-16; //0.5rem 1rem;
  border-radius: $sizing-12; //0.75rem;
  gap: $sizing-4; //0.25rem;
}
