/* Primitive Values - Spacing */
$sizing-0: 0rem;
$sizing-2: 0.125rem;
$sizing-4: 0.25rem;
$sizing-6: 0.3125rem;
$sizing-8: 0.5rem;
$sizing-10: 0.625rem;
$sizing-12: 0.75rem;
$sizing-14: 0.8125rem;
$sizing-15: 0.875rem;
$sizing-17: 0.9375rem;
$sizing-16: 1rem;
$sizing-18: 1.125rem;
$sizing-20: 1.25rem;
$sizing-22: 1.375rem;
$sizing-24: 1.5rem;
$sizing-28: 1.75rem;
$sizing-30: 1.875rem;
$sizing-32: 2rem;
$sizing-36: 2.25rem;
$sizing-38: 2.375rem;
$sizing-40: 2.5rem;
$sizing-44: 2.75rem;
$sizing-48: 3rem;
$sizing-52: 3.25rem;
$sizing-56: 3.5rem;
$sizing-60: 3.75rem;
$sizing-64: 4rem;
$sizing-66: 5rem;
$sizing-68: 4.25rem;
$sizing-72: 4.5rem;
$sizing-76: 5.43rem;
$sizing-12-5: 12.5rem;
$sizing-12-75: 12.75rem;
$sizing-1-4: 14rem;
$sizing-17-5: 17.5rem;
$sizing-1-9: 19rem;
$sizing-400: 25rem;
$sizing-600: 37.5rem;

/* Spacing - Mode 1 */
:root {
  --spacing-4-point-sizing-sizing-0: 0px;
  --spacing-4-point-sizing-sizing-2: 2px;
  --spacing-4-point-sizing-sizing-4: 4px;
  --spacing-4-point-sizing-sizing-8: 8px;
  --spacing-4-point-sizing-sizing-12: 12px;
  --spacing-4-point-sizing-sizing-16: 16px;
  --spacing-4-point-sizing-sizing-20: 20px;
  --spacing-4-point-sizing-sizing-24: 24px;
  --spacing-4-point-sizing-sizing-28: 28px;
  --spacing-4-point-sizing-sizing-32: 32px;
  --spacing-4-point-sizing-sizing-36: 36px;
  --spacing-4-point-sizing-sizing-40: 40px;
  --spacing-4-point-sizing-sizing-44: 44px;
  --spacing-4-point-sizing-sizing-48: 48px;
  --spacing-4-point-sizing-sizing-52: 52px;
  --spacing-4-point-sizing-sizing-56: 56px;
  --spacing-4-point-sizing-sizing-60: 60px;
  --spacing-4-point-sizing-sizing-64: 64px;
  --text-sizing-text-size-64: 64px;
  --text-sizing-text-size-52: 52px;
  --text-line-height-type-lineheight-68: 68px;
  --text-line-height-type-lineheight-60: 60px;
  --text-line-height-type-lineheight-48: 48px;
  --text-line-height-type-lineheight-56: 56px;
  --text-line-height-type-lineheight-50: 50px;
  --text-line-height-type-lineheight-44: 44px;
  --text-line-height-type-lineheight-40: 40px;
  --text-line-height-type-lineheight-38: 38px;
  --text-line-height-type-lineheight-36: 36px;
  --text-line-height-type-lineheight-34: 34px;
  --text-line-height-type-lineheight-32: 32px;
  --text-line-height-type-lineheight-28: 28px;
  --text-line-height-type-lineheight-26: 26px;
  --text-line-height-type-lineheight-24: 24px;
  --text-line-height-type-lineheight-22: 22px;
  --text-line-height-type-lineheight-20: 20px;
  --text-line-height-type-lineheight-16: 16px;
  --text-sizing-text-size-44: 44px;
  --text-sizing-text-size-36: 36px;
  --text-sizing-text-size-28: 28px;
  --text-sizing-text-size-24: 24px;
  --text-sizing-text-size-20: 20px;
  --text-sizing-text-size-18: 18px;
  --text-sizing-text-size-16: 16px;
  --text-sizing-text-size-14: 14px;
  --text-sizing-text-size-12: 12px;
  --text-sizing-text-size-11: 11px;
  --text-letter-spacing-type-letter-spacing-n120: -1.2px;
  --text-letter-spacing-type-letter-spacing-n020: -0.2px;
  --text-letter-spacing-type-letter-spacing-n030: -0.3px;
  --text-letter-spacing-type-letter-spacing-n010: -0.1px;
  --text-letter-spacing-type-letter-spacing-000: 0px;
  --text-letter-spacing-type-letter-spacing-010: 0.1px;
  --text-letter-spacing-type-letter-spacing-020: 0.2px;
  --backdrop-filter-blur-null: var(--spacing-4-point-sizing-sizing-0);
  --backdrop-filter-blur-2xs: var(--spacing-4-point-sizing-sizing-2);
  --backdrop-filter-blur-xs: var(--spacing-4-point-sizing-sizing-4);
  --backdrop-filter-blur-sm: var(--spacing-4-point-sizing-sizing-8);
  --backdrop-filter-blur-md: var(--spacing-4-point-sizing-sizing-12);
  --backdrop-filter-blur-lg: var(--spacing-4-point-sizing-sizing-16);
  --border-radius-radius-null: var(--spacing-4-point-sizing-sizing-0);
  --border-radius-radius-2xs: var(--spacing-4-point-sizing-sizing-2);
  --border-radius-radius-xs: var(--spacing-4-point-sizing-sizing-4);
  --border-radius-radius-sm: var(--spacing-4-point-sizing-sizing-8);
  --border-radius-radius-md: var(--spacing-4-point-sizing-sizing-12);
  --border-radius-radius-lg: var(--spacing-4-point-sizing-sizing-16);
  --border-radius-radius-xl: var(--spacing-4-point-sizing-sizing-20);
  --border-radius-radius-2xl: var(--spacing-4-point-sizing-sizing-24);
  --border-radius-radius-3xl: var(--spacing-4-point-sizing-sizing-28);
  --border-radius-radius-4xl: var(--spacing-4-point-sizing-sizing-32);
  --border-radius-radius-5xl: var(--spacing-4-point-sizing-sizing-36);
  --border-radius-radius-6xl: var(--spacing-4-point-sizing-sizing-40);
  --border-radius-radius-full: 9999px;
  --padding-padding-null: var(--spacing-4-point-sizing-sizing-0);
  --padding-padding-2xs: var(--spacing-4-point-sizing-sizing-2);
  --padding-padding-xs: var(--spacing-4-point-sizing-sizing-4);
  --padding-padding-sm: var(--spacing-4-point-sizing-sizing-8);
  --padding-padding-md: var(--spacing-4-point-sizing-sizing-12);
  --padding-padding-lg: var(--spacing-4-point-sizing-sizing-16);
  --padding-padding-xl: var(--spacing-4-point-sizing-sizing-20);
  --padding-padding-2xl: var(--spacing-4-point-sizing-sizing-24);
  --padding-padding-3xl: var(--spacing-4-point-sizing-sizing-28);
  --padding-padding-4xl: var(--spacing-4-point-sizing-sizing-32);
  --padding-padding-5xl: var(--spacing-4-point-sizing-sizing-36);
  --padding-padding-6xl: var(--spacing-4-point-sizing-sizing-40);
  --gap-gap-null: var(--spacing-4-point-sizing-sizing-0);
  --gap-gap-2xs: var(--spacing-4-point-sizing-sizing-2);
  --gap-gap-xs: var(--spacing-4-point-sizing-sizing-4);
  --gap-gap-sm: var(--spacing-4-point-sizing-sizing-8);
  --gap-gap-md: var(--spacing-4-point-sizing-sizing-12);
  --gap-gap-lg: var(--spacing-4-point-sizing-sizing-16);
  --gap-gap-xl: var(--spacing-4-point-sizing-sizing-20);
  --gap-gap-2xl: var(--spacing-4-point-sizing-sizing-24);
  --gap-gap-3xl: var(--spacing-4-point-sizing-sizing-28);
  --gap-gap-4xl: var(--spacing-4-point-sizing-sizing-32);
  --gap-gap-5xl: var(--spacing-4-point-sizing-sizing-36);
  --gap-gap-6xl: var(--spacing-4-point-sizing-sizing-40);
  --margin-margin-null: var(--spacing-4-point-sizing-sizing-0);
  --margin-margin-2xs: var(--spacing-4-point-sizing-sizing-2);
  --margin-margin-xs: var(--spacing-4-point-sizing-sizing-4);
  --margin-margin-sm: var(--spacing-4-point-sizing-sizing-8);
  --margin-margin-md: var(--spacing-4-point-sizing-sizing-12);
  --margin-margin-lg: var(--spacing-4-point-sizing-sizing-16);
  --margin-margin-xl: var(--spacing-4-point-sizing-sizing-20);
  --margin-margin-2xl: var(--spacing-4-point-sizing-sizing-24);
  --margin-margin-3xl: var(--spacing-4-point-sizing-sizing-28);
  --margin-margin-4xl: var(--spacing-4-point-sizing-sizing-32);
  --margin-margin-5xl: var(--spacing-4-point-sizing-sizing-36);
  --margin-margin-6xl: var(--spacing-4-point-sizing-sizing-40);
}