// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../../../assets/font/text/TTHovesPro/woff2/TT_Hoves_Pro_Regular.woff2") format("woff2"),
//     url("../../../assets/font/text/TTHovesPro/woff/TT_Hoves_Pro_Regular.woff") format("woff"),
//     url("../../../assets/font/text/TTHovesPro/ttf/TT-Hoves-Pro-Regular.ttf") format("truetype"),
//     url("../../../assets/font/text/TTHovesPro/otf/TT-Hoves-Pro-Regular.otf") format("opentype"),
//     url("../../../assets/font/text/TTHovesPro/eot/TT_Hoves_Pro_Regular.eot?#iefix") format("embedded-opentype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../../../assets/font/text/TTHovesPro/woff2/TT_Hoves_Pro_Medium.woff2") format("woff2"),
//     url("../../../assets/font/text/TTHovesPro/woff/TT_Hoves_Pro_Medium.woff") format("woff"),
//     url("../../../assets/font/text/TTHovesPro/ttf/TT-Hoves-Pro-Medium.ttf") format("truetype"),
//     url("../../../assets/font/text/TTHovesPro/otf/TT-Hoves-Pro-Medium.otf") format("opentype"),
//     url("../../../assets/font/text/TTHovesPro/eot/TT_Hoves_Pro_Medium.eot?#iefix") format("embedded-opentype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../../../assets/font/text/TTHovesPro/woff2/TT_Hoves_Pro_DemiBold.woff2") format("woff2"),
//     url("../../../assets/font/text/TTHovesPro/woff/TT_Hoves_Pro_DemiBold.woff") format("woff"),
//     url("../../../assets/font/text/TTHovesPro/ttf/TT-Hoves-Pro-DemiBold.ttf") format("truetype"),
//     url("../../../assets/font/text/TTHovesPro/otf/TT-Hoves-Pro-DemiBold.otf") format("opentype"),
//     url("../../../assets/font/text/TTHovesPro/eot/TT_Hoves_Pro_DemiBold.eot?#iefix") format("embedded-opentype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../../../assets/font/text/TTHovesPro/woff2/TT_Hoves_Pro_Bold.woff2") format("woff2"),
//     url("../../../assets/font/text/TTHovesPro/woff/TT_Hoves_Pro_Bold.woff") format("woff"),
//     url("../../../assets/font/text/TTHovesPro/ttf/TT-Hoves-Pro-Bold.ttf") format("truetype"),
//     url("../../../assets/font/text/TTHovesPro/otf/TT-Hoves-Pro-Bold.otf") format("opentype"),
//     url("../../../assets/font/text/TTHovesPro/eot/TT_Hoves_Pro_Bold.eot?#iefix") format("embedded-opentype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../font/text/TTHovesPro/woff2/TT_Hoves_Pro_Regular.woff2") format("woff2"),
//     url("../font/text/TTHovesPro/woff/TT_Hoves_Pro_Regular.woff") format("woff"),
//     url("../font/text/TTHovesPro/ttf/TT-Hoves-Pro-Regular.ttf") format("truetype"),
//     url("../font/text/TTHovesPro/otf/TT-Hoves-Pro-Regular.otf") format("opentype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../font/text/TTHovesPro/woff2/TT_Hoves_Pro_Medium.woff2") format("woff2"),
//     url("../font/text/TTHovesPro/woff/TT_Hoves_Pro_Medium.woff") format("woff"),
//     url("../font/text/TTHovesPro/ttf/TT-Hoves-Pro-Medium.ttf") format("truetype"),
//     url("../font/text/TTHovesPro/otf/TT-Hoves-Pro-Medium.otf") format("opentype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../font/text/TTHovesPro/woff2/TT_Hoves_Pro_DemiBold.woff2") format("woff2"),
//     url("../font/text/TTHovesPro/woff/TT_Hoves_Pro_DemiBold.woff") format("woff"),
//     url("../font/text/TTHovesPro/ttf/TT-Hoves-Pro-DemiBold.ttf") format("truetype"),
//     url("../font/text/TTHovesPro/otf/TT-Hoves-Pro-DemiBold.otf") format("opentype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "TT Hoves Pro";
//   src: url("../font/text/TTHovesPro/woff2/TT_Hoves_Pro_Bold.woff2") format("woff2"),
//     url("../font/text/TTHovesPro/woff/TT_Hoves_Pro_Bold.woff") format("woff"),
//     url("../font/text/TTHovesPro/ttf/TT-Hoves-Pro-Bold.ttf") format("truetype"),
//     url("../font/text/TTHovesPro/otf/TT-Hoves-Pro-Bold.otf") format("opentype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url("../font/text/Montserrat-Regular.woff2") format("woff2"),
//     url("../font/text/Montserrat-Regular.woff") format("woff"),
//     url("../font/text/Montserrat-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url("../font/text/Montserrat-Medium.woff2") format("woff2"),
//     url("../font/text/Montserrat-Medium.woff") format("woff"),
//     url("../font/text/Montserrat-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url("../font/text/Montserrat-SemiBold.woff2") format("woff2"),
//     url("../font/text/Montserrat-SemiBold.woff") format("woff"),
//     url("../font/text/Montserrat-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url("../font/text/Montserrat-Bold.woff2") format("woff2"),
//     url("../font/text/Montserrat-Bold.woff") format("woff"),
//     url("../font/text/Montserrat-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Gilroy";
//   src: url("../font/text/Gilroy/Gilroy-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Gilroy";
//   src: url("../font/text/Gilroy/Gilroy-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Gilroy";
//   src: url("../font/text/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Gilroy";
//   src: url("../font/text/Gilroy/Gilroy-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Poppins";
//   src: url("../font/text/Poppins/Poppins-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Poppins";
//   src: url("../font/text/Poppins/Poppins-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Poppins";
//   src: url("../font/text/Poppins/Poppins-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Poppins";
//   src: url("../font/text/Poppins/Poppins-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: block;
// }

/* Regular */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Regular Italic */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

/* Medium */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/* Medium Italic */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

/* SemiBold */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

/* SemiBold Italic */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

/* Bold */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* Bold Italic */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

/* ExtraBold (800) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

/* ExtraBold Italic (800) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/text/PlusJakartaSans/static/PlusJakartaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: block;
}

/* Primitive Values - Typography */
$text-size-64: 4rem;
$text-size-52: 3.25rem;
$text-size-44: 2.75rem;
$text-size-36: 2.25rem;
$text-size-28: 1.75rem;
$text-size-24: 1.5rem;
$text-size-20: 1.25rem;
$text-size-18: 1.125rem;
$text-size-16: 1rem;
$text-size-14: 0.875rem;
$text-size-12: 0.75rem;
$text-size-11: 0.6875rem;
$text-size-10: 0.625rem;

$lineheight-68: 4.25rem;
$lineheight-60: 3.75rem;
$lineheight-48: 3rem;
$lineheight-56: 3.5rem;
$lineheight-50: 3.125rem;
$lineheight-44: 2.75rem;
$lineheight-40: 2.5rem;
$lineheight-38: 2.375rem;
$lineheight-36: 2.25rem;
$lineheight-34: 2.125rem;
$lineheight-32: 2rem;
$lineheight-28: 1.75rem;
$lineheight-26: 1.625rem;
$lineheight-24: 1.5rem;
$lineheight-22: 1.375rem;
$lineheight-20: 1.25rem;
$lineheight-18: 1.125rem;
$lineheight-16: 1rem;

$letter-spacing-n120: -0.075rem;
$letter-spacing-n020: -0.0125rem;
$letter-spacing-n030: -0.0188rem;
$letter-spacing-n010: -0.0063rem;
$letter-spacing-000: 0rem;
$letter-spacing-010: 0.0063rem;
$letter-spacing-020: 0.0125rem;
$letter-spacing-030: 0.015rem;

$font-regular: 400;
$font-medium: 500;
$font-demibold: 600;
$font-bold: 700;
$font-bolder: 800;
$font-boldest: 900;
// $font-primary: "TT Hoves Pro", sans-serif;
// $font-primary: "Montserrat", sans-serif;
// $font-primary: "Gilroy", sans-serif;
// $font-primary: "Poppins", sans-serif;
$font-primary: "Plus Jakarta Sans", sans-serif;