:root {
    --color-color-base-white-default: rgba(255, 255, 255, 1);
    --color-color-neutral-neutral-050: rgba(243, 243, 243, 1);
    --color-color-neutral-neutral-100: rgba(230, 230, 230, 1);
    --color-color-neutral-neutral-200: rgba(205, 205, 205, 1);
    --color-color-neutral-neutral-300: rgba(181, 181, 181, 1);
    --color-color-neutral-neutral-400: rgba(156, 156, 156, 1);
    // --color-color-neutral-neutral-500: rgba(131, 131, 131, 1);
    --color-color-neutral-neutral-500: rgba(125, 125, 125, 1);
    // --color-color-neutral-neutral-600: rgba(105, 105, 105, 1);
    --color-color-neutral-neutral-600: rgba(93, 93, 93, 1);
    --color-color-neutral-neutral-700: rgba(66, 66, 66, 1);
    --color-color-neutral-neutral-800: rgba(33, 33, 33, 1);
    --color-color-neutral-neutral-900: rgba(20, 20, 20, 1);
    --color-color-neutral-neutral-1000: rgba(13, 13, 13, 1);
    --color-color-base-black-default: rgba(13, 13, 13, 1);

    --text-primary-text-primary-darker: var(--color-color-neutral-neutral-1000);
    --text-primary-text-primary-dark: var(--color-color-neutral-neutral-900);
    --text-primary-text-primary: var(--color-color-neutral-neutral-800);
    --text-primary-text-primary-light: var(--color-color-neutral-neutral-700);
    --text-primary-text-primary-lighter: var(--color-color-neutral-neutral-600);
    --text-primary-text-primary-lightest: var(--color-color-neutral-neutral-500);
    --text-primary-text-primary-80: var(--color-color-black-transparent-neutral-dark-tsp-80);
    --text-primary-text-primary-70: var(--color-color-black-transparent-neutral-dark-tsp-70);
    --text-primary-text-primary-50: var(--color-color-black-transparent-neutral-dark-tsp-50);
    --text-primary-text-primary-30: var(--color-color-black-transparent-neutral-dark-tsp-30);
    --text-primary-text-primary-10: var(--color-color-black-transparent-neutral-dark-tsp-10);

    --text-primary-text-primary-darker: var(--color-color-neutral-neutral-050);
    --text-primary-text-primary-dark: var(--color-color-neutral-neutral-100);
    --text-primary-text-primary: var(--color-color-neutral-neutral-200);
    --text-primary-text-primary-light: var(--color-color-neutral-neutral-300);
    --text-primary-text-primary-lighter: var(--color-color-neutral-neutral-400);
    --text-primary-text-primary-lightest: var(--color-color-neutral-neutral-500);
    --text-primary-text-primary-80: var(--color-color-white-transparent-white-tsp-80);
    --text-primary-text-primary-70: var(--color-color-white-transparent-white-tsp-70);
    --text-primary-text-primary-50: var(--color-color-white-transparent-white-tsp-50);
    --text-primary-text-primary-30: var(--color-color-white-transparent-white-tsp-30);
    --text-primary-text-primary-10: var(--color-color-white-transparent-white-tsp-10);

    // --light
    --surface-primary-surface-primary-light: var(--color-color-base-white-default);
    --surface-primary-surface-primary: var(--color-color-neutral-neutral-050);
    --surface-primary-surface-primary-dark: var(--color-color-neutral-neutral-100);
    --surface-primary-surface-primary-darker: var(--color-color-neutral-neutral-200);
    --surface-primary-surface-primary-darkest: var(--color-color-neutral-neutral-300);

    // --dark
    // --surface-primary-surface-primary-light: var(--color-color-neutral-neutral-800);
    // --surface-primary-surface-primary: var(--color-color-neutral-neutral-800);
    // --surface-primary-surface-primary-dark: var(--color-color-neutral-neutral-700);
    // --surface-primary-surface-primary-darker: var(--color-color-neutral-neutral-600);
    // --surface-primary-surface-primary-darkest: var(--color-color-neutral-neutral-500);

    // --dark
    --surface-primary-surface-primary-light: var(--color-color-base-black-default);
    --surface-primary-surface-primary: var(--color-color-neutral-neutral-800);
    --surface-primary-surface-primary-dark: var(--color-color-neutral-neutral-700);
    --surface-primary-surface-primary-darker: var(--color-color-neutral-neutral-600);
    --surface-primary-surface-primary-darkest: var(--color-color-neutral-neutral-500);
}

/* Primitives - Value */
:root {
  --text-weight-regular: Regular;
  --text-weight-medium: Medium;
  --text-weight-demibold: DemiBold;
  --text-weight-bold: Bold;
  --text-typeface-typeface-primary: TT Hoves Pro;
  --color-color-base-white-default: rgba(255, 255, 255, 1);
  --color-color-neutral-neutral-050: rgba(243, 243, 243, 1);
  --color-color-neutral-neutral-100: rgba(230, 230, 230, 1);
  --color-color-neutral-neutral-200: rgba(205, 205, 205, 1);
  --color-color-neutral-neutral-300: rgba(181, 181, 181, 1);
  --color-color-neutral-neutral-400: rgba(156, 156, 156, 1);
  // --color-color-neutral-neutral-500: rgba(131, 131, 131, 1);
  --color-color-neutral-neutral-500: rgba(125, 125, 125, 1);
  // --color-color-neutral-neutral-600: rgba(105, 105, 105, 1);
  --color-color-neutral-neutral-600: rgba(93, 93, 93, 1);
  --color-color-neutral-neutral-700: rgba(66, 66, 66, 1);
  --color-color-neutral-neutral-800: rgba(33, 33, 33, 1);
  --color-color-neutral-neutral-900: rgba(20, 20, 20, 1);
  --color-color-neutral-neutral-1000: rgba(13, 13, 13, 1);
  --color-color-base-black-default: rgba(13, 13, 13, 1);
  --color-color-blue-light-mode-blue-100: rgba(211, 225, 248, 1);
  --color-color-blue-light-mode-blue-200: rgba(166, 195, 241, 1);
  --color-color-blue-light-mode-blue-300: rgba(122, 165, 233, 1);
  --color-color-blue-light-mode-blue-400: rgba(77, 135, 226, 1);
  --color-color-blue-light-mode-blue-default: rgba(33, 105, 219, 1);
  --color-color-blue-light-mode-blue-600: rgba(26, 84, 175, 1);
  --color-color-blue-light-mode-blue-700: rgba(20, 63, 131, 1);
  --color-color-blue-light-mode-blue-800: rgba(13, 42, 88, 1);
  --color-color-blue-light-mode-blue-900: rgba(7, 21, 44, 1);
  --color-color-green-light-mode-green-100: rgba(215, 238, 226, 1);
  --color-color-green-light-mode-green-200: rgba(175, 220, 197, 1);
  --color-color-green-light-mode-green-300: rgba(135, 203, 168, 1);
  --color-color-green-light-mode-green-400: rgba(95, 185, 139, 1);
  --color-color-green-light-mode-green-default: rgba(55, 168, 110, 1);
  --color-color-green-light-mode-green-600: rgba(44, 134, 88, 1);
  --color-color-green-light-mode-green-700: rgba(33, 101, 66, 1);
  --color-color-green-light-mode-green-800: rgba(22, 67, 44, 1);
  --color-color-green-light-mode-green-900: rgba(11, 34, 22, 1);
  --color-color-orange-light-mode-orange-100: rgba(255, 238, 218, 1);
  --color-color-orange-light-mode-orange-200: rgba(255, 222, 181, 1);
  --color-color-orange-light-mode-orange-300: rgba(255, 205, 144, 1);
  --color-color-orange-light-mode-orange-400: rgba(255, 189, 107, 1);
  --color-color-orange-light-mode-orange-default: rgba(255, 172, 70, 1);
  --color-color-orange-light-mode-orange-600: rgba(204, 138, 56, 1);
  --color-color-orange-light-mode-orange-700: rgba(153, 103, 42, 1);
  --color-color-orange-light-mode-orange-800: rgba(102, 69, 28, 1);
  --color-color-orange-light-mode-orange-900: rgba(51, 34, 14, 1);
  --color-color-red-light-mode-red-100: rgba(255, 225, 225, 1);
  --color-color-red-light-mode-red-200: rgba(255, 195, 195, 1);
  --color-color-red-light-mode-red-300: rgba(254, 166, 166, 1);
  --color-color-red-light-mode-red-400: rgba(254, 136, 136, 1);
  --color-color-red-light-mode-red-default: rgba(254, 106, 106, 1);
  --color-color-red-light-mode-red-600: rgba(203, 85, 85, 1);
  --color-color-red-light-mode-red-700: rgba(152, 64, 64, 1);
  --color-color-red-light-mode-red-800: rgba(102, 42, 42, 1);
  --color-color-red-light-mode-red-900: rgba(51, 21, 21, 1);
  --color-color-cyan-light-mode-cyan-100: rgba(221, 245, 250, 1);
  --color-color-cyan-light-mode-cyan-default: rgba(86, 206, 229, 1);
  --color-color-cyan-light-mode-cyan-700: rgba(52, 124, 137, 1);
  --color-color-cyan-dark-mode-cyan-100: rgba(218, 248, 253, 1);
  --color-color-cyan-dark-mode-cyan-default: rgba(71, 219, 247, 1);
  --color-color-cyan-dark-mode-cyan-700: rgba(43, 131, 148, 1);
  --color-color-purple-light-mode-purple-100: rgba(227, 222, 252, 1);
  --color-color-purple-light-mode-purple-default: rgba(114, 91, 242, 1);
  --color-color-purple-light-mode-purple-700: rgba(68, 55, 145, 1);
  --color-color-purple-dark-mode-purple-100: rgba(224, 219, 254, 1);
  --color-color-purple-dark-mode-purple-default: rgba(102, 75, 252, 1);
  --color-color-purple-dark-mode-purple-700: rgba(61, 45, 151, 1);
  --color-color-teal-light-mode-purple-100: rgba(216, 247, 239, 1);
  --color-color-teal-light-mode-purple-default: rgba(60, 215, 176, 1);
  --color-color-teal-light-mode-purple-700: rgba(36, 129, 106, 1);
  --color-color-teal-dark-mode-purple-100: rgba(210, 247, 238, 1);
  --color-color-teal-dark-mode-purple-default: rgba(31, 213, 168, 1);
  --color-color-teal-dark-mode-purple-700: rgba(19, 128, 101, 1);
  --color-color-blue-dark-mode-blue-100: rgba(211, 228, 254, 1);
  --color-color-blue-dark-mode-blue-200: rgba(168, 201, 253, 1);
  --color-color-blue-dark-mode-blue-300: rgba(124, 173, 251, 1);
  --color-color-blue-dark-mode-blue-400: rgba(81, 146, 250, 1);
  --color-color-blue-dark-mode-blue-default: rgba(37, 119, 249, 1);
  --color-color-blue-dark-mode-blue-600: rgba(30, 95, 199, 1);
  --color-color-blue-dark-mode-blue-700: rgba(22, 71, 149, 1);
  --color-color-blue-dark-mode-blue-800: rgba(15, 48, 100, 1);
  --color-color-blue-dark-mode-blue-900: rgba(7, 24, 50, 1);
  --color-color-green-dark-mode-green-100: rgba(214, 241, 227, 1);
  --color-color-green-dark-mode-green-200: rgba(173, 227, 199, 1);
  --color-color-green-dark-mode-green-300: rgba(133, 212, 172, 1);
  --color-color-green-dark-mode-green-400: rgba(92, 198, 144, 1);
  --color-color-green-dark-mode-green-default: rgba(51, 184, 116, 1);
  --color-color-green-dark-mode-green-600: rgba(41, 147, 93, 1);
  --color-color-green-dark-mode-green-700: rgba(31, 110, 70, 1);
  --color-color-green-dark-mode-green-800: rgba(20, 74, 46, 1);
  --color-color-green-dark-mode-green-900: rgba(10, 37, 23, 1);
  --color-color-orange-dark-mode-orange-100: rgba(255, 237, 214, 1);
  --color-color-orange-dark-mode-orange-200: rgba(255, 222, 181, 1);
  --color-color-orange-dark-mode-orange-300: rgba(255, 205, 144, 1);
  --color-color-orange-dark-mode-orange-400: rgba(255, 189, 107, 1);
  --color-color-orange-dark-mode-orange-default: rgba(255, 163, 51, 1);
  --color-color-orange-dark-mode-orange-600: rgba(204, 138, 56, 1);
  --color-color-orange-dark-mode-orange-700: rgba(153, 98, 31, 1);
  --color-color-orange-dark-mode-orange-800: rgba(102, 69, 28, 1);
  --color-color-orange-dark-mode-orange-900: rgba(51, 34, 14, 1);
  --color-color-red-dark-mode-red-100: rgba(255, 222, 222, 1);
  --color-color-red-dark-mode-red-200: rgba(255, 195, 195, 1);
  --color-color-red-dark-mode-red-300: rgba(254, 166, 166, 1);
  --color-color-red-dark-mode-red-400: rgba(254, 136, 136, 1);
  --color-color-red-dark-mode-red-default: rgba(255, 89, 89, 1);
  --color-color-red-dark-mode-red-600: rgba(203, 85, 85, 1);
  --color-color-red-dark-mode-red-700: rgba(153, 53, 53, 1);
  --color-color-red-dark-mode-red-800: rgba(102, 42, 42, 1);
  --color-color-red-dark-mode-red-900: rgba(51, 21, 21, 1);
  --color-color-black-transparent-neutral-dark-tsp-100: rgba(20, 20, 20, 1);
  --color-color-black-transparent-neutral-dark-tsp-80: rgba(20, 20, 20, 0.8);
  --color-color-black-transparent-neutral-dark-tsp-70: rgba(20, 20, 20, 0.7);
  --color-color-black-transparent-neutral-dark-tsp-50: rgba(20, 20, 20, 0.5);
  --color-color-black-transparent-neutral-dark-tsp-30: rgba(20, 20, 20, 0.3);
  --color-color-black-transparent-neutral-dark-tsp-10: rgba(20, 20, 20, 0.1);
  --color-color-black-transparent-neutral-dark-tsp-5: rgba(20, 20, 20, 0.05);
  --color-color-black-transparent-neutral-dark-tsp-2: rgba(20, 20, 20, 0.02);
  --color-color-white-transparent-white-tsp-100: rgba(255, 255, 255, 1);
  --color-color-white-transparent-white-tsp-80: rgba(255, 255, 255, 0.8);
  --color-color-white-transparent-white-tsp-70: rgba(255, 255, 255, 0.7);
  --color-color-white-transparent-white-tsp-50: rgba(255, 255, 255, 0.5);
  --color-color-white-transparent-white-tsp-30: rgba(255, 255, 255, 0.3);
  --color-color-white-transparent-white-tsp-10: rgba(255, 255, 255, 0.1);
  --color-color-white-transparent-white-tsp-5: rgba(255, 255, 255, 0.05);
  --color-color-white-transparent-white-tsp-2: rgba(255, 255, 255, 0.02);
  --color-color-blue-transparent-light-blue-light-tsp-100: rgba(33, 105, 219, 1);
  --color-color-blue-transparent-light-blue-light-tsp-70: rgba(33, 105, 219, 0.7);
  --color-color-blue-transparent-light-blue-light-tsp-50: rgba(33, 105, 219, 0.5);
  --color-color-blue-transparent-light-blue-light-tsp-30: rgba(33, 105, 219, 0.3);
  --color-color-blue-transparent-light-blue-light-tsp-10: rgba(33, 105, 219, 0.1);
  --color-color-blue-transparent-light-blue-light-tsp-5: rgba(33, 105, 219, 0.05);
  --color-color-blue-transparent-dark-blue-dark-tsp-100: rgba(37, 119, 249, 1);
  --color-color-blue-transparent-dark-blue-dark-tsp-70: rgba(37, 119, 249, 0.7);
  --color-color-blue-transparent-dark-blue-dark-tsp-50: rgba(37, 119, 249, 0.5);
  --color-color-blue-transparent-dark-blue-dark-tsp-30: rgba(37, 119, 249, 0.3);
  --color-color-blue-transparent-dark-blue-dark-tsp-10: rgba(37, 119, 249, 0.1);
  --color-color-blue-transparent-dark-blue-dark-tsp-5: rgba(37, 119, 249, 0.05);
  --color-color-green-transparent-light-green-light-tsp-100: rgba(55, 168, 110, 1);
  --color-color-green-transparent-light-green-light-tsp-70: rgba(55, 168, 110, 0.7);
  --color-color-green-transparent-light-green-light-tsp-50: rgba(55, 168, 110, 0.5);
  --color-color-green-transparent-light-green-light-tsp-30: rgba(55, 168, 110, 0.3);
  --color-color-green-transparent-light-green-light-tsp-10: rgba(55, 168, 110, 0.1);
  --color-color-green-transparent-light-green-light-tsp-5: rgba(55, 168, 110, 0.05);
  --color-color-green-transparent-light-green-light-tsp-2: rgba(55, 168, 110, 0.02);
  --color-color-green-transparent-dark-green-dark-tsp-100: rgba(51, 184, 116, 1);
  --color-color-green-transparent-dark-green-dark-tsp-70: rgba(51, 184, 116, 0.7);
  --color-color-green-transparent-dark-green-dark-tsp-50: rgba(51, 184, 116, 0.5);
  --color-color-green-transparent-dark-green-dark-tsp-30: rgba(51, 184, 116, 0.3);
  --color-color-green-transparent-dark-green-dark-tsp-10: rgba(51, 184, 116, 0.1);
  --color-color-green-transparent-dark-green-dark-tsp-5: rgba(51, 184, 116, 0.05);
  --color-color-green-transparent-dark-green-dark-tsp-2: rgba(51, 184, 116, 0.02);
  --color-color-orange-transparent-light-orange-light-tsp-100: rgba(255, 172, 70, 1);
  --color-color-orange-transparent-light-orange-light-tsp-80: rgba(255, 172, 70, 0.8);
  --color-color-orange-transparent-light-orange-light-tsp-50: rgba(255, 172, 70, 0.5);
  --color-color-orange-transparent-light-orange-light-tsp-30: rgba(255, 172, 70, 0.3);
  --color-color-orange-transparent-light-orange-light-tsp-10: rgba(255, 172, 70, 0.1);
  --color-color-orange-transparent-light-orange-light-tsp-5: rgba(255, 172, 70, 0.05);
  --color-color-orange-transparent-light-orange-light-tsp-2: rgba(255, 172, 70, 0.02);
  --color-color-orange-transparent-dark-orange-dark-tsp-100: rgba(255, 163, 51, 1);
  --color-color-orange-transparent-dark-orange-dark-tsp-80: rgba(255, 163, 51, 0.8);
  --color-color-orange-transparent-dark-orange-dark-tsp-50: rgba(255, 163, 51, 0.5);
  --color-color-orange-transparent-dark-orange-dark-tsp-30: rgba(255, 163, 51, 0.3);
  --color-color-orange-transparent-dark-orange-dark-tsp-10: rgba(255, 163, 51, 0.1);
  --color-color-orange-transparent-dark-orange-dark-tsp-5: rgba(255, 163, 51, 0.05);
  --color-color-orange-transparent-dark-orange-dark-tsp-2: rgba(255, 163, 51, 0.02);
  --color-color-red-transparent-light-red-light-tsp-100: rgba(254, 106, 106, 1);
  --color-color-red-transparent-light-red-light-tsp-80: rgba(254, 106, 106, 0.8);
  --color-color-red-transparent-light-red-light-tsp-70: rgba(254, 106, 106, 0.7);
  --color-color-red-transparent-light-red-light-tsp-50: rgba(254, 106, 106, 0.5);
  --color-color-red-transparent-light-red-light-tsp-30: rgba(254, 106, 106, 0.3);
  --color-color-red-transparent-light-red-light-tsp-10: rgba(254, 106, 106, 0.1);
  --color-color-red-transparent-light-red-light-tsp-5: rgba(254, 106, 106, 0.05);
  --color-color-red-transparent-light-red-light-tsp-2: rgba(254, 106, 106, 0.02);
  --color-color-red-transparent-dark-red-dark-tsp-100: rgba(255, 89, 89, 1);
  --color-color-red-transparent-dark-red-dark-tsp-80: rgba(255, 101, 89, 0.8);
  --color-color-red-transparent-dark-red-dark-tsp-70: rgba(255, 89, 89, 0.7);
  --color-color-red-transparent-dark-red-dark-tsp-50: rgba(255, 89, 89, 0.5);
  --color-color-red-transparent-dark-red-dark-tsp-30: rgba(255, 89, 89, 0.3);
  --color-color-red-transparent-dark-red-dark-tsp-10: rgba(255, 89, 89, 0.1);
  --color-color-red-transparent-dark-red-dark-tsp-5: rgba(255, 89, 89, 0.05);
  --color-color-red-transparent-dark-red-dark-tsp-2: rgba(255, 89, 89, 0.02);
}
