:root {
  --text-weight-regular: Regular;
  --text-weight-medium: Medium;
  --text-weight-demibold: DemiBold;
  --text-weight-bold: Bold;
  --text-typeface-typeface-primary: TT Hoves Pro;
  --color-base-white-default: rgba(255, 255, 255, 1);
  --color-neutral-050: rgba(243, 243, 243, 1);
  --color-neutral-100: rgba(230, 230, 230, 1);
  --color-neutral-200: rgba(205, 205, 205, 1);
  --color-neutral-300: rgba(181, 181, 181, 1);
  --color-neutral-400: rgba(156, 156, 156, 1);
  // --color-neutral-500: rgba(131, 131, 131, 1);
  --color-neutral-500: rgba(125, 125, 125, 1);
  // --color-neutral-600: rgba(105, 105, 105, 1);
  --color-neutral-600: rgba(93, 93, 93, 1);
  --color-neutral-700: rgba(66, 66, 66, 1);
  --color-neutral-800: rgba(33, 33, 33, 1);
  --color-neutral-900: rgba(20, 20, 20, 1);
  --color-neutral-1000: rgba(13, 13, 13, 1);
  --color-base-black-default: rgba(13, 13, 13, 1);
  --color-blue-light-mode-100: rgba(211, 225, 248, 1);
  --color-blue-light-mode-200: rgba(166, 195, 241, 1);
  --color-blue-light-mode-300: rgba(122, 165, 233, 1);
  --color-blue-light-mode-400: rgba(77, 135, 226, 1);
  --color-blue-light-mode-default: rgba(33, 105, 219, 1);
  --color-blue-light-mode-600: rgba(26, 84, 175, 1);
  --color-blue-light-mode-700: rgba(20, 63, 131, 1);
  --color-blue-light-mode-800: rgba(13, 42, 88, 1);
  --color-blue-light-mode-900: rgba(7, 21, 44, 1);
  --color-blue-dark-mode-100: rgba(211, 228, 254, 1);
  --color-blue-dark-mode-200: rgba(168, 201, 253, 1);
  --color-blue-dark-mode-300: rgba(124, 173, 251, 1);
  --color-blue-dark-mode-400: rgba(81, 146, 250, 1);
  --color-blue-dark-mode-default: rgba(37, 119, 249, 1);
  --color-blue-dark-mode-600: rgba(30, 95, 199, 1);
  --color-blue-dark-mode-700: rgba(22, 71, 149, 1);
  --color-blue-dark-mode-800: rgba(15, 48, 100, 1);
  --color-blue-dark-mode-900: rgba(7, 24, 50, 1);
  --color-green-light-mode-100: rgba(215, 238, 226, 1);
  --color-green-light-mode-200: rgba(175, 220, 197, 1);
  --color-green-light-mode-300: rgba(135, 203, 168, 1);
  --color-green-light-mode-400: rgba(95, 185, 139, 1);
  --color-green-light-mode-default: rgba(55, 168, 110, 1);
  --color-green-light-mode-600: rgba(44, 134, 88, 1);
  --color-green-light-mode-700: rgba(33, 101, 66, 1);
  --color-green-light-mode-800: rgba(22, 67, 44, 1);
  --color-green-light-mode-900: rgba(11, 34, 22, 1);
  --color-green-dark-mode-100: rgba(214, 241, 227, 1);
  --color-green-dark-mode-200: rgba(173, 227, 199, 1);
  --color-green-dark-mode-300: rgba(133, 212, 172, 1);
  --color-green-dark-mode-400: rgba(92, 198, 144, 1);
  --color-green-dark-mode-default: rgba(51, 184, 116, 1);
  --color-green-dark-mode-600: rgba(41, 147, 93, 1);
  --color-green-dark-mode-700: rgba(31, 110, 70, 1);
  --color-green-dark-mode-800: rgba(20, 74, 46, 1);
  --color-green-dark-mode-900: rgba(10, 37, 23, 1);
  --color-orange-light-mode-100: rgba(255, 238, 218, 1);
  --color-orange-light-mode-200: rgba(255, 222, 181, 1);
  --color-orange-light-mode-300: rgba(255, 205, 144, 1);
  --color-orange-light-mode-400: rgba(255, 189, 107, 1);
  --color-orange-light-mode-default: rgba(255, 172, 70, 1);
  --color-orange-light-mode-600: rgba(204, 138, 56, 1);
  --color-orange-light-mode-700: rgba(153, 103, 42, 1);
  --color-orange-light-mode-800: rgba(102, 69, 28, 1);
  --color-orange-light-mode-900: rgba(51, 34, 14, 1);
  --color-orange-dark-mode-100: rgba(255, 237, 214, 1);
  --color-orange-dark-mode-200: rgba(255, 222, 181, 1);
  --color-orange-dark-mode-300: rgba(255, 205, 144, 1);
  --color-orange-dark-mode-400: rgba(255, 189, 107, 1);
  --color-orange-dark-mode-default: rgba(255, 163, 51, 1);
  --color-orange-dark-mode-600: rgba(204, 138, 56, 1);
  --color-orange-dark-mode-700: rgba(153, 98, 31, 1);
  --color-orange-dark-mode-800: rgba(102, 69, 28, 1);
  --color-orange-dark-mode-900: rgba(51, 34, 14, 1);
  --color-red-light-mode-100: rgba(255, 225, 225, 1);
  --color-red-light-mode-200: rgba(255, 195, 195, 1);
  --color-red-light-mode-300: rgba(254, 166, 166, 1);
  --color-red-light-mode-400: rgba(254, 136, 136, 1);
  --color-red-light-mode-default: rgba(254, 106, 106, 1);
  --color-red-light-mode-600: rgba(203, 85, 85, 1);
  --color-red-light-mode-700: rgba(152, 64, 64, 1);
  --color-red-light-mode-800: rgba(102, 42, 42, 1);
  --color-red-light-mode-900: rgba(51, 21, 21, 1);
  --color-red-dark-mode-100: rgba(255, 222, 222, 1);
  --color-red-dark-mode-200: rgba(255, 195, 195, 1);
  --color-red-dark-mode-300: rgba(254, 166, 166, 1);
  --color-red-dark-mode-400: rgba(254, 136, 136, 1);
  --color-red-dark-mode-default: rgba(255, 89, 89, 1);
  --color-red-dark-mode-600: rgba(203, 85, 85, 1);
  --color-red-dark-mode-700: rgba(153, 53, 53, 1);
  --color-red-dark-mode-800: rgba(102, 42, 42, 1);
  --color-red-dark-mode-900: rgba(51, 21, 21, 1);
  --color-cyan-light-mode-100: rgba(221, 245, 250, 1);
  --color-cyan-light-mode-default: rgba(86, 206, 229, 1);
  --color-cyan-light-mode-700: rgba(52, 124, 137, 1);
  --color-cyan-dark-mode-100: rgba(218, 248, 253, 1);
  --color-cyan-dark-mode-default: rgba(71, 219, 247, 1);
  --color-cyan-dark-mode-700: rgba(43, 131, 148, 1);
  --color-purple-light-mode-100: rgba(227, 222, 252, 1);
  --color-purple-light-mode-default: rgba(114, 91, 242, 1);
  --color-purple-light-mode-700: rgba(68, 55, 145, 1);
  --color-purple-dark-mode-100: rgba(224, 219, 254, 1);
  --color-purple-dark-mode-default: rgba(102, 75, 252, 1);
  --color-purple-dark-mode-700: rgba(61, 45, 151, 1);
  --color-teal-light-mode-100: rgba(216, 247, 239, 1);
  --color-teal-light-mode-default: rgba(60, 215, 176, 1);
  --color-teal-light-mode-700: rgba(36, 129, 106, 1);
  --color-teal-dark-mode-100: rgba(210, 247, 238, 1);
  --color-teal-dark-mode-default: rgba(31, 213, 168, 1);
  --color-teal-dark-mode-700: rgba(19, 128, 101, 1);
  --color-black-transparent-100: rgba(20, 20, 20, 1);
  --color-black-transparent-80: rgba(20, 20, 20, 0.8);
  --color-black-transparent-70: rgba(20, 20, 20, 0.7);
  --color-black-transparent-50: rgba(20, 20, 20, 0.5);
  --color-black-transparent-30: rgba(20, 20, 20, 0.3);
  --color-black-transparent-20: rgba(20, 20, 20, 0.2);
  --color-black-transparent-10: rgba(20, 20, 20, 0.1);
  --color-black-transparent-5: rgba(20, 20, 20, 0.05);
  --color-black-transparent-2: rgba(20, 20, 20, 0.02);
  --color-white-transparent-100: rgba(255, 255, 255, 1);
  --color-white-transparent-80: rgba(255, 255, 255, 0.8);
  --color-white-transparent-70: rgba(255, 255, 255, 0.7);
  --color-white-transparent-50: rgba(255, 255, 255, 0.5);
  --color-white-transparent-30: rgba(255, 255, 255, 0.3);
  --color-white-transparent-20: rgba(255, 255, 255, 0.2);
  --color-white-transparent-10: rgba(255, 255, 255, 0.1);
  --color-white-transparent-5: rgba(255, 255, 255, 0.05);
  --color-white-transparent-2: rgba(255, 255, 255, 0.02);
  --color-blue-transparent-light-100: rgba(33, 105, 219, 1);
  --color-blue-transparent-light-70: rgba(33, 105, 219, 0.7);
  --color-blue-transparent-light-50: rgba(33, 105, 219, 0.5);
  --color-blue-transparent-light-30: rgba(33, 105, 219, 0.3);
  --color-blue-transparent-light-20: rgba(33, 105, 219, 0.2);
  --color-blue-transparent-light-10: rgba(33, 105, 219, 0.1);
  --color-blue-transparent-light-5: rgba(33, 105, 219, 0.05);
  --color-blue-transparent-dark-100: rgba(37, 119, 249, 1);
  --color-blue-transparent-dark-70: rgba(37, 119, 249, 0.7);
  --color-blue-transparent-dark-50: rgba(37, 119, 249, 0.5);
  --color-blue-transparent-dark-30: rgba(37, 119, 249, 0.3);
  --color-blue-transparent-dark-20: rgba(37, 119, 249, 0.2);
  --color-blue-transparent-dark-10: rgba(37, 119, 249, 0.1);
  --color-blue-transparent-dark-5: rgba(37, 119, 249, 0.05);
  --color-green-transparent-light-100: rgba(55, 168, 110, 1);
  --color-green-transparent-light-70: rgba(55, 168, 110, 0.7);
  --color-green-transparent-light-50: rgba(55, 168, 110, 0.5);
  --color-green-transparent-light-30: rgba(55, 168, 110, 0.3);
  --color-green-transparent-light-20: rgba(55, 168, 110, 0.2);
  --color-green-transparent-light-10: rgba(55, 168, 110, 0.1);
  --color-green-transparent-light-5: rgba(55, 168, 110, 0.05);
  --color-green-transparent-light-2: rgba(55, 168, 110, 0.02);
  --color-green-transparent-dark-100: rgba(51, 184, 116, 1);
  --color-green-transparent-dark-70: rgba(51, 184, 116, 0.7);
  --color-green-transparent-dark-50: rgba(51, 184, 116, 0.5);
  --color-green-transparent-dark-30: rgba(51, 184, 116, 0.3);
  --color-green-transparent-dark-20: rgba(51, 184, 116, 0.2);
  --color-green-transparent-dark-10: rgba(51, 184, 116, 0.1);
  --color-green-transparent-dark-5: rgba(51, 184, 116, 0.05);
  --color-green-transparent-dark-2: rgba(51, 184, 116, 0.02);
  --color-orange-transparent-light-100: rgba(255, 172, 70, 1);
  --color-orange-transparent-light-80: rgba(255, 172, 70, 0.8);
  --color-orange-transparent-light-50: rgba(255, 172, 70, 0.5);
  --color-orange-transparent-light-30: rgba(255, 172, 70, 0.3);
  --color-orange-transparent-light-20: rgba(255, 172, 70, 0.2);
  --color-orange-transparent-light-10: rgba(255, 172, 70, 0.1);
  --color-orange-transparent-light-5: rgba(255, 172, 70, 0.05);
  --color-orange-transparent-light-2: rgba(255, 172, 70, 0.02);
  --color-orange-transparent-dark-100: rgba(255, 163, 51, 1);
  --color-orange-transparent-dark-80: rgba(255, 163, 51, 0.8);
  --color-orange-transparent-dark-50: rgba(255, 163, 51, 0.5);
  --color-orange-transparent-dark-30: rgba(255, 163, 51, 0.3);
  --color-orange-transparent-dark-20: rgba(255, 163, 51, 0.2);
  --color-orange-transparent-dark-10: rgba(255, 163, 51, 0.1);
  --color-orange-transparent-dark-5: rgba(255, 163, 51, 0.05);
  --color-orange-transparent-dark-2: rgba(255, 163, 51, 0.02);
  --color-red-transparent-light-100: rgba(254, 106, 106, 1);
  --color-red-transparent-light-80: rgba(254, 106, 106, 0.8);
  --color-red-transparent-light-70: rgba(254, 106, 106, 0.7);
  --color-red-transparent-light-50: rgba(254, 106, 106, 0.5);
  --color-red-transparent-light-30: rgba(254, 106, 106, 0.3);
  --color-red-transparent-light-20: rgba(254, 106, 106, 0.2);
  --color-red-transparent-light-10: rgba(254, 106, 106, 0.1);
  --color-red-transparent-light-5: rgba(254, 106, 106, 0.05);
  --color-red-transparent-light-2: rgba(254, 106, 106, 0.02);
  --color-red-transparent-dark-100: rgba(255, 89, 89, 1);
  --color-red-transparent-dark-80: rgba(255, 101, 89, 0.8);
  --color-red-transparent-dark-70: rgba(255, 89, 89, 0.7);
  --color-red-transparent-dark-50: rgba(255, 89, 89, 0.5);
  --color-red-transparent-dark-30: rgba(255, 89, 89, 0.3);
  --color-red-transparent-dark-20: rgba(255, 89, 89, 0.2);
  --color-red-transparent-dark-10: rgba(255, 89, 89, 0.1);
  --color-red-transparent-dark-5: rgba(255, 89, 89, 0.05);
  --color-red-transparent-dark-2: rgba(255, 89, 89, 0.02);
}