// @use "../../../assets/scss/_typography" as *;
// @use "../../../assets/scss/_TTHovesProOverride" as *;
@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.swipe {
    position: fixed;
    right: 0;
    // bottom: 0;
    left: 0;
    z-index: var(--z-mobile-swiper);
    width: 100%;
    touch-action: none;
    overscroll-behavior: contain;
    border: 1px solid green;
    border-radius: var(--border-radius-radius-lg) var(--border-radius-radius-lg) 0 0;
    background: var(--surface-primary-light);
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.10);

    @include media-up(md) {
        display: none;
    }

    &__handle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-xs);
        height: 42px;

        &--bar {
            width: 87px;
            height: 3px;
            // margin: var(--gap-gap-md) auto 0 auto;
            border-radius: 3px;
            background: black;
        }

        &--label {
            // margin: 6px auto;
            color: var(--text-primary-70);
            @include label-2-medium;
            // text-align: center;
        }
    }

    &__partial {}

    &__rest {
        // height: 300px;
    }
}

.action {
    position: fixed;
    right: 0;
    // bottom: 0;
    left: 0;
    z-index: var(--z-mobile-actionbar);

    @include media-up(md) {
        display: none;
    }

    &__container {
        padding: var(--padding-padding-lg);
        border: 1px solid blue;
        background: #fff;
    }
}