@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.calendar {
    display: flex;
    width: 204px;
    min-height: 204px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-gap-md);
    border-radius: var(--border-radius-radius-xl);
    background: var(--surface-primary-surface-primary-light);

    &__switcher {
        display: flex;
        // width: 150px;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap-gap-sm);

        &--icon {
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            aspect-ratio: 1/1;
        }

        &--text {
            color: var(--text-primary-text-primary);
            text-align: center;
            @include headline-2-bold;

            &--subtext {
                color: var(--text-primary-text-primary-lightest);
            }
        }
    }

    &__weekdays {
        display: flex;
        width: 164px;
        // height: 106px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-gap-xs);
        flex-shrink: 0;

        &--names {
            display: flex;
            align-items: center;
            gap: var(--gap-gap-xs);
            align-self: stretch;

            &__name {
                display: flex;
                width: 20px;
                height: 20px;
                flex-direction: column;
                justify-content: center;

                &--text {
                    color: var(--text-primary-text-primary-lightest);
                    text-align: center;
                    @include body-3-medium;

                    &.weekend {
                        // color: var(--text-error-text-error);
                    }
                }
            }
        }

        &--dates {
            display: flex;
            align-items: center;
            align-content: center;
            gap: var(--gap-gap-xs);
            align-self: stretch;
            flex-wrap: wrap;

            &__date {
                display: flex;
                width: 20px;
                height: 20px;
                padding: var(--padding-padding-null);
                justify-content: center;
                align-items: center;
                border-radius: var(--border-radius-radius-xs);
                background: var(--surface-primary-surface-primary);

                &--text {
                    color: var(--text-on-primary-text-on-primary);
                    text-align: center;
                    @include label-2-medium;
                }

                &.empty {
                    visibility: hidden;
                    // height: 0;
                    // width: 0;
                }

                &.booked {
                    background: var(--surface-accent-secondary-surface-secondary-accent-light);
                }

                &.delivered {
                    background: var(--surface-accent-surface-accent);
                }

                &.pending {
                    background: var(--surface-warning-surface-warning-light);
                }

                &.cancelled {
                    background: var(--surface-error-surface-error-light);
                }

                &.today {
                    background: var(--surface-accent-secondary-surface-secondary-accent-dark);
                    // background: var(--text-accent-text-accent);
                }
            }
        }
    }
}