@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.navbar {
    display: flex;
    // width: 393px;
    width: 100%;
    padding: var(--padding-padding-md) var(--padding-padding-lg);
    justify-content: space-between;
    align-items: center;

    background: var(--surface-primary-surface-primary-30);
    backdrop-filter: blur(10px);

    &__page {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-gap-sm);
        flex: 1 0 0;

        &--icon {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
        }

        .divider {
            height: 11px;
        }

        &--title {
            width: 100%;
            position: relative;

            &__container {
                display: flex;
                flex-direction: column;
                align-items: center;

                position: absolute;
                left: 0;
                transform: translate(0, -50%);
                transition: left 0.3s ease-in, transform 0.3s ease-in;

                &.center {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &--heading {
                    color: var(--text-primary-text-primary);
                    @include headline-2-demibold;
                    white-space: nowrap;
                }

                &--title {
                    color: #1F1F1F;
                    @include body-1-demibold;
                    white-space: nowrap;
                }

                &--text {
                    color: var(--text-primary-text-primary);
                    @include title-3-demibold;
                    white-space: nowrap;
                }

                &--subtext {
                    color: var(--text-accent-text-accent);
                    @include label-2-demibold;
                    white-space: nowrap;
                }
            }
        }
    }

    &__action {
        display: flex;
        // width: 62px;
        justify-content: flex-end;
        align-items: center;
        gap: var(--gap-gap-md);
        flex-shrink: 0;

        &--icon {
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            flex-shrink: 0;
        }
    }
}