// @use "../../../assets/scss/_typography" as *;
// @use "../../../assets/scss/_TTHovesProOverride" as *;
@use "../../../assets/scss/main" as *;
@use "../../../assets/scss/mixins" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        &--nav {
            // z-index: 99;
            // height: var(--header-height);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid purple;

            .navbar {
                display: flex;
                // width: 393px;
                width: 100%;
                height: var(--header-height);
                padding: var(--padding-padding-md) var(--padding-padding-lg);
                justify-content: space-between;
                align-items: center;

                background: var(--surface-primary-surface-primary-30);
                backdrop-filter: blur(10px);

                &__logo {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: var(--gap-gap-sm);

                    &--icon {
                        display: flex;
                        width: 32px;
                        height: 32px;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 1/1;
                    }

                    .divider {
                        height: 11px;
                    }

                    &--text {
                        color: #1F1F1F;
                        @include body-1-demibold;
                    }
                }

                &__action {
                    display: flex;
                    // width: 62px;
                    justify-content: flex-end;
                    align-items: center;
                    gap: var(--gap-gap-md);
                    flex-shrink: 0;

                    &--icon {
                        display: flex;
                        width: 24px;
                        height: 24px;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 1/1;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 99;
    height: calc(100dvh - var(--header-height));
    box-sizing: border-box;
    border: 1px solid blue;
}

.content {
    position: relative;
    // padding-top: var(--header-height);
    // border: 1px solid red;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &__page {
        height: 100%;
        display: flex;
        box-sizing: border-box;
    }

    &.no-scroll {
        -webkit-overflow-scrolling: auto;
        overscroll-behavior: none;
        touch-action: none;
    }
}

.content.sidebar-active {
    padding-left: var(--sidebar-width);
}

.content.footer-active {
    // padding-bottom: var(--footer-height);
}

.swipe {
    width: 100%;
    position: fixed;
    // bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid green;
    border-radius: var(--border-radius-radius-lg) var(--border-radius-radius-lg) 0 0;
    background: var(--surface-primary-surface-primary-light);
    touch-action: none;
    overscroll-behavior: contain;

    &__handle {
        display: flex;
        height: 42px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-xs);

        /* elevation-01 */
        // box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.00), 0 5px 2px 0 rgba(0, 0, 0, 0.01), 0 3px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.09), 0 0 1px 0 rgba(0, 0, 0, 0.10);

        &--bar {
            height: 3px;
            width: 87px;
            background: black;
            border-radius: 3px;
            // margin: var(--gap-gap-md) auto 0 auto;
        }

        &--label {
            color: var(--text-primary-text-primary-70);
            // text-align: center;
            // margin: 6px auto;
            @include label-2-medium;
        }
    }

    &__partial {}

    &__rest {
        // height: 300px;
    }
}

.action {
    position: fixed;
    // bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        padding: var(--padding-padding-lg);
        background: #fff;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        &--nav {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid blue;

            .navbar {
                display: flex;
                width: 100%;
                height: var(--footer-height);
                justify-content: space-between;
                align-items: center;
                background: rgba(255, 255, 255, 0.51);
                backdrop-filter: blur(10px);

                &__option {
                    display: flex;
                    width: 90px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}