// @use "../../../assets/scss/_typography" as *;
// @use "../../../assets/scss/_TTHovesProOverride" as *;
@use "../../../assets/scss/main" as *;
@use "../../../assets/scss/mixins" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;

        app-navbar {
            width: 100%;
        }
    }
}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 99;
    height: calc(100dvh - var(--header-height));
    border: 1px solid blue;
}

.content {
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &__container {
        height: 100%;
        display: flex;
        border: 1px solid orange;
    }

    // &.no-scroll {
    //     -webkit-overflow-scrolling: auto;
    //     overscroll-behavior: none;
    //     touch-action: none;
    // }
}

.content.sidebar-active {
    padding-left: var(--sidebar-width);
}

.content.footer-active {
    // padding-bottom: var(--footer-height);
}

.swipe {
    width: 100%;
    position: fixed;
    // bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid green;
    border-radius: var(--border-radius-radius-lg) var(--border-radius-radius-lg) 0 0;
    background: var(--surface-primary-surface-primary-light);
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.10);
    touch-action: none;
    overscroll-behavior: contain;

    &__handle {
        display: flex;
        height: 42px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-xs);

        &--bar {
            height: 3px;
            width: 87px;
            background: black;
            border-radius: 3px;
            // margin: var(--gap-gap-md) auto 0 auto;
        }

        &--label {
            color: var(--text-primary-text-primary-70);
            // text-align: center;
            // margin: 6px auto;
            @include label-2-medium;
        }
    }

    &__partial {}

    &__rest {
        // height: 300px;
    }
}

.action {
    position: fixed;
    // bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        padding: var(--padding-padding-lg);
        background: #fff;
        border: 1px solid blue;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid purple;

        .navbar {
            display: flex;
            width: 100%;
            height: var(--footer-height);
            justify-content: space-between;
            align-items: center;
            background: rgba(255, 255, 255, 0.51);
            backdrop-filter: blur(10px);

            &__option {
                display: flex;
                width: 90px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }
}