@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.heads-up {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: var(--z-headsup);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: var(--padding-padding-sm) var(--padding-padding-md);
    border-radius: 8px;
    background-color: var(--surface-inverse-dark);
    pointer-events: auto;
    @include elevation-4;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap-gap-md);

        &--message {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--gap-gap-md);

            &--icon {
                display: flex;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                transition: opacity 0.15s ease;
                cursor: pointer;

                &.default {
                    background: var(--surface-primary-10);

                    svg path {
                        fill: var(--surface-primary-dark);
                    }
                }

                &.primary {
                    background: var(--surface-accent-secondary-20);

                    svg path {
                        fill: var(--surface-accent-secondary);
                    }
                }

                &.success {
                    background: var(--surface-accent-20);

                    svg path {
                        fill: var(--surface-accent-dark);
                    }
                }

                &.warning {
                    background: var(--surface-warning-20);

                    svg path {
                        fill: var(--surface-warning-dark);
                    }
                }

                &.error {
                    background: var(--surface-error-20);

                    svg path {
                        fill: var(--surface-error-dark);
                    }
                }
            }

            &--text {
                white-space: nowrap;
                color: var(--text-inverse);
                @include body-3-medium;
                text-align: center;
            }
        }

        &--action {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--gap-gap-md);

            &--icon {
                display: flex;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                width: 16px;
                height: 16px;
                aspect-ratio: 1/1;
                opacity: 1;
                transition: opacity 0.15s ease;
                cursor: pointer;

                svg path {
                    fill: var(--text-inverse);
                }

                &:hover {
                    opacity: 0.72;
                }
            }
        }
    }

    &--success {
        width: 3px;
        height: 17px;
        border-radius: 19px;
        background-color: var(--surface-accent-100);
    }

    &--danger {
        width: 3px;
        height: 17px;
        border-radius: 19px;
        background-color: var(--surface-error-100);
    }
}