.buttons{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        span{
            width: 100px;
            color: var(--text-primary);
        }

        .button{
            &--icon{
                width: 16px;
                height: 16px;
            }
        }
    }
}