@use "../../../assets/scss/main" as *;
@use "../../../assets/scss/mixins" as *;

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // background-color: #dddce1;
    background-color: #f4f4f4;
}

.container-xxl {
    display: flex;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-gap-2xl);

    @include media-between(2xl, 4xl) {
        max-width: 1440px !important;
    }
}

.section {
    display: flex;
    // flex-direction: column;
    width: 100%;
    max-width: 712px;
    // height: 100%;
    // justify-content: space-between;
    // padding: var(--padding-padding-3xl);
    // border-radius: var(--border-radius-radius-lg);
    gap: var(--gap-gap-4xl);

    &__services {
        // flex: 1 0 0;
        overflow: hidden;
    }

    &__dashs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-md);

        &--dash {
            height: 8px;
            width: 8px;
            border-radius: var(--border-radius-radius-xs);
            background-color: var(--surface-primary-surface-primary-50);
            transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1);

            &__current {
                // height: 112px;
                background-color: #5daa80;
            }

            &__previous {
                // background-color: var(--surface-inverse-surface-inverse);
                background-color: var(--stroke-inverse-stroke-inverse-lightest);
            }

            &__next {
                background-color: var(--stroke-inverse-stroke-inverse-lightest);
            }
        }
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-gap-4xl);

    visibility: hidden;
    overflow: hidden;
    outline: 0;
    height: 0;
    transition: transform 0.75s cubic-bezier(0.35, 0, 0.25, 1), opacity 0.75s cubic-bezier(0.35, 0, 0.25, 1);

    &__current {
        overflow: visible;
        visibility: visible;
        transform: none;
        height: 100%;
        opacity: 1;
    }

    &__previous {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    &__next {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    .start {
        justify-content: flex-start;
        text-align: left;
    }

    .center {
        justify-content: center;
        text-align: center;
    }

    .end {
        justify-content: flex-end;
        text-align: right;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-sm);

        &--image {
            display: flex;
            width: 36px;
            height: 36px;
            padding: var(--padding-padding-sm);
            justify-content: center;
            align-items: center;

            background-color: #2d2d2d;
            border-radius: 8px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &--text{
            @include display-3-demibold;
        }
    }

    &__headline {
        display: flex;
        flex-direction: column;
        gap: var(--gap-gap-lg);

        &--label {
            color: var(--text-primary-text-primary-lightest);
            text-transform: uppercase;
            @include label-2-bold;
            letter-spacing: 0.2em;
        }

        &--highlight {
            color: #5daa80;
            text-transform: uppercase;
            @include label-2-bold;
            letter-spacing: 0.2em;
        }

        &--tag {
            display: flex;
            flex-wrap: wrap;

            @include display-1-demibold;
            font-size: 4.5rem;
            line-height: 1.1;

            &--text {
                color: var(--text-primary-text-primary);
            }

            &--lighter-italic {
                color: var(--text-primary-text-primary-lighter);
                @include display-1-medium;
                font-size: 4.5rem;
                font-style: italic;
                line-height: 1.1;
            }

            &--highlight {
                color: #5daa80;
            }
        }

        &--meta {
            display: flex;
            flex-wrap: wrap;
            @include display-1-demibold;

            &--text {
                color: var(--text-primary-text-primary);
            }

            &--highlight-italic {
                color: #5daa80;
                font-style: italic;
            }

            &--lighter {
                color: var(--text-primary-text-primary-lighter);
            }
        }
    }

    &__title {
        &--text {
            color: var(--text-primary-text-primary-lighter);
            @include headline-3-medium;
            letter-spacing: -0.02em;

            &--dark {
                color: var(--text-primary-text-primary);
                @include headline-3-bold;
                letter-spacing: -0.02em;
            }

            &--lightest {
                color: var(--text-primary-text-primary-lightest);
                @include title-2-regular;
                letter-spacing: -0.02em;
            }
        }
    }

    &__subtitle {
        &--text {
            color: var(--text-primary-text-primary-lighter);
            @include headline-3-medium;
            letter-spacing: -0.02em;

            &--lightest {
                color: var(--text-primary-text-primary-lightest);
            }
        }

        &--subtext {
            color: var(--text-primary-text-primary-lighter);
            // @include title-2-medium;
            @include title-2-demibold;
            // letter-spacing: -0.02em;

            &--lightest {
                color: var(--text-primary-text-primary-lightest);
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-lg);

        &--primary {
            color: var(--text-inverse-text-inverse-light);
            padding: var(--padding-padding-xl) var(--padding-padding-6xl);
            @include title-2-bold;
            border-radius: var(--border-radius-radius-md);
            border-style: none;
            background-color: #5daa80;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: #3d966d;
                ;
            }
        }

        &--blank {
            color: var(--text-primary-text-primary);
            padding: var(--padding-padding-xl) var(--padding-padding-6xl);
            @include title-2-bold;
            border-radius: var(--border-radius-radius-md);
            border-style: none;
            background-color: transparent;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: var(--buttons-solid-button-solid-hover);
            }
        }
    }

    &__options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-gap-3xl);

        .option {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap-gap-md);
            align-self: stretch;

            &__title {
                display: flex;
                padding: var(--padding-padding-sm) var(--padding-padding-md);
                justify-content: center;
                align-items: center;
                gap: 10px;

                border-radius: 68px;
                background: var(--buttons-solid-button-solid-hover);

                &--icon {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1/1;
                    color: #5daa80;
                }

                &--text {
                    color: var(--text-primary-text-primary);
                    @include title-2-demibold;
                }
            }

            &__text {
                max-width: 465px;
                color: var(--text-primary-text-primary-lighter);
                @include title-3-medium;
            }
        }

    }

    &__phases {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap-gap-2xl);

        .phase {
            display: flex;
            max-width: 220px;
            flex-direction: column;
            align-items: center;
            gap: var(--gap-gap-2xl);

            &__title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--gap-gap-lg);

                &--text {
                    color: var(--text-primary-text-primary-10);
                    @include display-3-bold;
                }

                &--icon {
                    color: #5daa80;
                    display: flex;
                    width: 46px;
                    height: 46px;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1/1;

                    border-radius: var(--border-radius-radius-lg);
                    background: var(--surface-primary-surface-primary-light);
                    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001A,
                        0 1px 2px -1px #0000001A;
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--gap-gap-sm);

                &--text {
                    color: var(--text-primary-text-primary);
                    text-align: center;
                    @include title-2-demibold;
                }

                &--subtext {
                    color: var(--text-primary-text-primary-lightest);
                    text-align: center;
                    @include body-3-medium;
                }
            }
        }
    }

    &__qualities {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-2xl);

        &--text {
            color: var(--text-primary-text-primary-lightest);
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 800;
            letter-spacing: 0.1em;
        }

        &--divider {
            width: 1px;
            height: 11px;
            background-color: var(--text-primary-text-primary-lightest);
        }
    }
}

.stepper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 100%;
    justify-content: space-between;
    padding: var(--padding-padding-3xl);
    border-radius: var(--border-radius-radius-lg);
    gap: var(--gap-gap-4xl);

    &__background {
        &--primary {
            background-color: #5daa80;
            background-image: unset;
        }

        &--secondary {
            background-color: #f2c14b;
            background-image: unset;
        }

        &--image {
            background-color: gray;
            background-image: url(./../../../assets/image/login/background.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }
    }

    &__steps {
        flex: 1 0 0;
        overflow: hidden;
    }

    &__dots {
        display: flex;
        justify-content: center;
        gap: var(--gap-gap-sm);

        &--dot {
            height: 4px;
            width: 12px;
            border-radius: var(--border-radius-radius-xs);
            background-color: var(--surface-primary-surface-primary-50);
            transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);

            &__selected {
                width: 32px;
                background-color: var(--surface-primary-surface-primary-light);
            }
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    visibility: hidden;
    overflow: hidden;
    outline: 0;
    height: 0;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);

    &__banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--image {
            width: 100%;
        }
    }

    &__moto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--gap-gap-3xl);

        &--text {
            color: var(--text-inverse-text-inverse-light);
            @include headline-1-demibold;
        }

        &--subtitle {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--gap-gap-md);
        }

        &--divider {
            width: 1px;
            height: 48px;
            background-color: var(--stroke-primary-stroke-primary-50);
        }

        &--subtext {
            color: var(--text-inverse-text-inverse-50);
            @include body-3-regular;
        }
    }

    &__action {
        display: flex;
        flex-direction: column;

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--gap-gap-lg);
        }
    }

    &__current {
        overflow: visible;
        visibility: visible;
        transform: none;
        height: 100%;
    }

    &__previous {
        transform: translate3d(-100%, 0, 0);
    }

    &__next {
        transform: translate3d(100%, 0, 0);
    }
}