@use "../../../assets/scss/main" as *;
@use "../../../assets/scss/mixins" as *;

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #dddce1;
}

.container-xxl {
    display: flex;
    height: 90%;
    justify-content: flex-end;
    align-items: center;
}

.stepper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 100%;
    justify-content: space-between;
    padding: var(--padding-padding-3xl);
    border-radius: var(--border-radius-radius-lg);
    gap: var(--gap-gap-4xl);

    &__background {
        &--primary {
            background-color: #5daa80;
            background-image: unset;
        }

        &--secondary {
            background-color: #f2c14b;
            background-image: unset;
        }

        &--image {
            background-color: gray;
            background-image: url(./../../../assets/image/login/background.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
        }
    }

    &__steps {
        flex: 1 0 0;
        overflow: hidden;
    }

    &__dots {
        display: flex;
        justify-content: center;
        gap: var(--gap-gap-sm);

        &--dot {
            height: 4px;
            width: 12px;
            border-radius: var(--border-radius-radius-xs);
            background-color: var(--surface-primary-surface-primary-50);
            transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);

            &__selected {
                width: 32px;
                background-color: var(--surface-primary-surface-primary-light);
            }
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    visibility: hidden;
    overflow: hidden;
    outline: 0;
    height: 0;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);

    &__banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--image {
            width: 100%;
        }
    }

    &__moto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--gap-gap-3xl);

        &--text {
            color: var(--text-inverse-text-inverse-light);
            @include headline-1-demibold;
        }

        &--subtitle {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--gap-gap-md);
        }

        &--divider {
            width: 1px;
            height: 48px;
            background-color: var(--stroke-primary-stroke-primary-50);
        }

        &--subtext {
            color: var(--text-inverse-text-inverse-50);
            @include body-3-regular;
        }
    }

    &__action {
        display: flex;
        flex-direction: column;

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--gap-gap-lg);
        }
    }

    &__current {
        overflow: visible;
        visibility: visible;
        transform: none;
        height: 100%;
    }

    &__previous {
        transform: translate3d(-100%, 0, 0);
    }

    &__next {
        transform: translate3d(100%, 0, 0);
    }
}