@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.meal-count {
    display: flex;
    // width: 200px;
    width: 204px;
    min-height: 204px;
    padding: var(--padding-padding-lg) var(--padding-padding-md) var(--padding-padding-lg) var(--padding-padding-xl);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: var(--border-radius-radius-xl);
    background: var(--surface-primary-surface-primary-light);

    &__total {
        display: flex;
        // width: 80px;
        flex-direction: column;
        align-items: flex-start;

        &--label {
            color: var(--text-primary-text-primary);
            @include title-3-medium;
            align-self: stretch;
        }

        &--text {
            color: var(--text-primary-text-primary);
            @include display-2-demibold;
            align-self: stretch;
        }
    }

    &__breakdown {
        display: flex;
        align-items: flex-start;
        align-self: stretch;

        .breakdowns {
            display: flex;
            // height: 65px;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap-gap-xs);
            flex: 1 0 0;

            &__breakdown {
                display: flex;
                // min-width: 150px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                &--label {
                    color: var(--text-primary-text-primary-lightest);
                    @include title-3-medium;
                }

                &--text {
                    color: var(--text-primary-text-primary);
                    text-align: right;
                    @include title-3-medium;
                }
            }
        }
    }
}