@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.meal-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 204px;
    height: 100%;
    min-height: 204px;
    max-height: 240px;

    padding: var(--padding-padding-lg) var(--padding-padding-md) var(--padding-padding-lg) var(--padding-padding-xl);

    border-radius: var(--border-radius-radius-xl);

    background: var(--surface-primary-light);
    &__total {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // width: 80px;
        &--label {
            @include title-3-medium;
            align-self: stretch;

            color: var(--text-primary);
        }

        &--text {
            @include display-2-demibold;
            align-self: stretch;

            color: var(--text-primary);
        }
    }

    &__breakdown {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        .breakdowns {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap-gap-xs);
            // height: 65px;
            &__breakdown {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                // min-width: 150px;
                &--label {
                    @include title-3-medium;
                    color: var(--text-primary-lightest);
                }

                &--text {
                    @include title-3-medium;
                    color: var(--text-primary);
                    text-align: right;
                }
            }
        }
    }
}