// @use "../../../assets/scss/_typography" as *;
// @use "../../../assets/scss/_TTHovesProOverride" as *;
@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.container-fluid {}

.container-xxl {
    max-width: 1640px;
}

.header {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    align-items: center;
    gap: var(--gap-gap-lg);

    &__motd {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--gap-gap-md);

        &--membership {
            .membership {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: var(--gap-gap-md);

                &__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 40px;
                    height: 40px;
                    aspect-ratio: 1/1;
                    color: var(--icon-white);
                    border-radius: var(--border-radius-radius-md);
                    background-image: linear-gradient(to right bottom in oklab, #45a87a 0%, #3d966d 100%);

                    box-shadow: #0000 0px 0px 0px 0px, #0000 0px 0px 0px 0px, #0000 0px 0px 0px 0px, #0000 0px 0px 0px 0px, #45a87a33 0px 10px 15px -3px, #45a87a33 0px 4px 6px -4px;
                }

                &__details {
                    &--text {
                        color: #45a87a;
                        @include label-3-demibold;
                        text-transform: uppercase;
                    }

                    &--underline {
                        width: 48px;
                        height: 4px;
                        border-radius: 2px;
                        background-color: #5daa80;
                    }
                }
            }
        }

        &--greetings {
            .greetings {
                display: flex;
                flex-direction: column;
                gap: var(--gap-gap-sm);

                &__message {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: baseline;
                    gap: var(--gap-gap-lg);

                    color: var(--text-primary);
                    @include display-2-demibold;
                    // font-size: 3.75rem;
                    line-height: 0.9;
                    letter-spacing: -0.04em;

                    &--text {
                        position: relative;
                        color: transparent;
                        background-image: linear-gradient(to right in oklab, #45a87a, #3d966d 100%);
                        background-clip: text;

                        &-underline {
                            position: absolute;
                            bottom: -8px;
                            left: 0;

                            width: 100%;
                            height: 6px;
                            border-radius: 3px;
                            background-color: color-mix(in oklab, #45a87a 10%, transparent);
                        }
                    }
                }

                &__information {
                    max-width: 500px;

                    &--text {
                        color: var(--text-primary-lightest);
                        @include headline-3-medium;
                        letter-spacing: -0.02em;

                        &-italic {
                            color: var(--text-primary);
                            @include headline-3-bold;
                            font-style: italic;
                        }
                    }
                }
            }
        }

        &--alert {}
    }

    &__subscription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--gap-gap-lg);

        max-width: 300px;
        padding: var(--padding-padding-2xl);

        border-radius: var(--border-radius-radius-xl);
        background-color: var(--surface-inverse-dark);

        &--subtext {
            color: var(--text-inverse-50);
            @include label-2-bold;
            font-size: 10px;
            text-transform: uppercase;
        }

        &--text {
            color: var(--text-inverse);
            @include headline-3-demibold;

            &-highlight {
                color: #45a87a;
            }
        }

        &--action {
            align-self: stretch;
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-gap-lg);
}

.swipe {
    position: fixed;
    right: 0;
    // bottom: 0;
    left: 0;
    z-index: var(--z-mobile-swiper);

    width: 100%;
    touch-action: none;
    overscroll-behavior: contain;
    border: 1px solid green;
    border-radius: var(--border-radius-radius-lg) var(--border-radius-radius-lg) 0 0;
    background: var(--surface-primary-light);

    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.10);

    @include media-up(md) {
        display: none;
    }

    &__handle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-gap-xs);

        height: 42px;

        &--bar {
            width: 87px;
            height: 3px;
            // margin: var(--gap-gap-md) auto 0 auto;
            border-radius: 3px;
            background: black;
        }

        &--label {
            // margin: 6px auto;
            color: var(--text-primary-70);
            @include label-2-medium;
            // text-align: center;
        }
    }

    &__partial {}

    &__rest {
        // height: 300px;
    }
}

.action {
    position: fixed;
    right: 0;
    // bottom: 0;
    left: 0;
    z-index: var(--z-mobile-actionbar);

    @include media-up(md) {
        display: none;
    }

    &__container {
        padding: var(--padding-padding-lg);
        border: 1px solid blue;
        background: #fff;
    }
}