@use "./assets/scss/main.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --header-height: 56px;
    --sidebar-width: 280px;
    --footer-height: 70px;
}
body{
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}