<div class="meal-today">
    <div class="meal-today__date">
        <span class="meal-today__date--day">Thursday</span>
        <span class="meal-today__date--date">15</span>
    </div>
    <div class="meal-today__schedule">
        <div class="meal-today__schedule--wrapper">
            <div class="wrapper">
                <div class="wrapper__lunch"></div>
                <div class="wrapper__title">
                    <span class="wrapper__title--text">Set Chicken</span>
                    <span class="wrapper__title--subtext">02:00 - 02:30 PM</span>
                </div>
            </div>
        </div>
        <div class="meal-today__schedule--wrapper">
            <div class="wrapper">
                <div class="wrapper__dinner"></div>
                <div class="wrapper__title">
                    <span class="wrapper__title--text">Set Fish Fry</span>
                    <span class="wrapper__title--subtext">09:00 PM</span>
                </div>
            </div>
        </div>
    </div>
</div>