@use "../../../../assets/scss/main" as *;
@use "../../../../assets/scss/mixins" as *;

.stepper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 204px;
    //     width: 100%;
    height: 100%;
    min-height: 204px;
    max-height: 240px;
    overflow: hidden;
    border-radius: var(--border-radius-radius-xl);
    background: var(--surface-primary-light);

    // @include media-down(md) {
    // }
    &__background {
        &--primary {
            background-color: #5daa80;
            background-image: unset;
        }

        &--secondary {
            background-color: #f2c14b;
            background-image: unset;
        }
    }

    // &__overlay {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 1;

    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;

    //     padding: var(--padding-padding-sm);

    //     border-radius: var(--border-radius-radius-xl);
    //     opacity: 0;
    //     transition: opacity 0.3s ease;

    //     &:hover {
    //         opacity: 1;
    //     }

    //     &--button {
    //         &--icon {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;

    //             width: 24px;
    //             height: 24px;
    //             aspect-ratio: 1/1;
    //             color: var(--chevron-color);
    //             border-radius: var(--border-radius-radius-full);
    //             background: var(--chevron-default);

    //             transition: background-color 0.2s ease, color 0.2s ease;
    //             cursor: pointer;

    //             &:hover {
    //                 color: var(--chevron-color-hover);
    //                 background-color: var(--chevron-hover);
    //             }

    //             svg {
    //                 path {
    //                     fill: currentColor;
    //                 }
    //             }
    //         }
    //     }

    //     @include media-down(md) {
    //         display: none;
    //     }
    // }

    &__button {
        position: absolute;
        top: 50%;
        z-index: 1;

        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;

        &--visible {
            opacity: 1;
        }

        &--previous {
            left: var(--gap-gap-sm);
        }

        &--next {
            right: var(--gap-gap-sm);
        }

        &--icon {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;
            color: var(--chevron-color);
            border-radius: var(--border-radius-radius-full);
            background: var(--chevron-default);

            transition: background-color 0.2s ease, color 0.2s ease;
            cursor: pointer;

            &:hover {
                color: var(--chevron-color-hover);
                background-color: var(--chevron-hover);
            }

            svg {
                path {
                    fill: currentColor;
                }
            }
        }

        @include media-down(md) {
            display: none;
        }
    }

    &__steps {
        flex: 1 0 0;
        overflow: hidden;
        touch-action: pan-y;
        overscroll-behavior: contain;
    }

    &__dots {
        position: absolute;
        bottom: var(--gap-gap-md);
        left: 50%;

        display: flex;
        justify-content: center;
        gap: var(--gap-gap-xs);

        transform: translateX(-50%);

        &--dot {
            width: 8px;
            height: 4px;
            border-radius: var(--border-radius-radius-xs);
            background-color: var(--surface-primary-dark);

            transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);

            &__selected {
                width: 24px;
                background-color: var(--surface-accent);
            }
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 0;
    overflow: hidden;
    outline: 0;
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);

    &__current {
        height: 100%;
        overflow: visible;
        visibility: visible;
        transform: none;
    }

    &__previous {
        transform: translate3d(-100%, 0, 0);
    }

    &__next {
        transform: translate3d(100%, 0, 0);
    }
}

.meal-metrics {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-gap-sm);

    padding: var(--padding-padding-lg) var(--padding-padding-lg) var(--padding-padding-2xl) var(--padding-padding-xl);

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        &--text {
            color: var(--text-primary-lightest);
            @include title-2-demibold;
        }

        &--count {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 34px;
            height: 34px;
            border-radius: var(--border-radius-radius-lg);

            &--text {
                color: var(--text-primary);
                @include headline-1-bold;
            }
        }
    }

    &__overview {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;

        .overview {
            flex: 1 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: var(--gap-gap-xs);

            &__breakdown {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                &--text {
                    color: var(--text-primary-light);
                    @include title-3-medium;
                }

                &--count {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 28px;
                    height: 28px;
                    border-radius: var(--border-radius-radius-sm);

                    &--text {
                        @include title-2-demibold;
                    }

                    &.primary {
                        color: var(--text-primary);
                        background: var(--surface-inverse-5);
                    }

                    &.accent {
                        color: var(--text-accent);
                        background: var(--surface-accent-10);
                    }

                    &.accent-secondary {
                        color: var(--text-accent-secondary);
                        background: var(--surface-accent-secondary-10);
                    }
                }
            }
        }
    }
}